<div class="card custom-left-side-group">
    <img [src]="avatarCover" class="card-img-top userAvatarCover">
    <div class="card-body text-center">
        <img [src]="avatar" width="50%" class="img-thumbnail rounded-circle">
    </div>
    <div class="text-center mt-5 mb-3">
        <h5>{{firstName}} {{lastName}}</h5>
        <small class="text-muted">{{jobTitle}}</small>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body" [ngClass]="{'text-right': Lang == 'ar'}">
        <span class="card-title font-weight-bold">{{'Groups' | translate}}</span>
        <ul class="list-unstyled mt-2" [ngClass]="{'pr-0': Lang == 'ar'}">
            <li *ngFor="let grp of groups">
                <a href="#" routerLink="/Group/group-profile/{{grp.id}}" routerLinkActive="router-link-active"
                    class="text-decoration-none text-secondary">
                    <i class="fas fa-users mx-2"></i>{{grp.data.Name}}
                </a>
            </li>
        </ul>
    </div>
</div>