.custom-left-side-group {
  position: relative;
}

.custom-left-side-group .card-body {
  position: absolute;
  top: 60px;
}

.content-groups .Groups-content-display1 .list-group-item,
.content-groups .Groups-content-display2 .list-group-item {
  padding: 0.75rem 0.25rem;
}

.userAvatarCover {
  height: 135px;
}
