<div class="container ">
    
    <div class="searchbar align-items-center mt-5" style="background-color:aliceblue; height: 100px;">
        <h5 class="text-center text-secondary">search for your next job</h5>

    <div class="row">
    <div class="col-6">
      <input
        class="form-control  mr-sm-2"
        type="text"
        placeholder="search by title skill or company"
      />
    </div>

    <form class="col-6 form-inline  my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="City,State or Zip Code"
      />
      <button class="btn btn-primary  my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </div>

  <div class="recomended  mt-5" style="background-color:aliceblue;">
      <h4 class="mt-5 text-secondary">Recommended for you</h4>
  <small class="text-secondary">Based on your profile and search history</small>
    <div class="row justify-content-around mt-3">
    <div class="card" >
        <img src="./../../assets/iti-logo.png" style="width: 75px; height: 75px;"  class="card-img-top" alt="...">
        <div class="card-body" style="width: 18rem;">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" [routerLink]="['/jobs/specificjob']" routerLinkActive="router-link-active"  class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./../../assets/ibm.png" style="width: 75px; height: 75px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" [routerLink]="['/jobs/specificjob']" routerLinkActive="router-link-active" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./../../assets/orange.png" style="width: 75px; height: 75px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" [routerLink]="['/jobs/specificjob']" routerLinkActive="router-link-active" class="btn btn-primary">Details</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./../../assets/voda.png" style="width: 75px; height: 75px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" [routerLink]="['/jobs/specificjob']" routerLinkActive="router-link-active" class="btn btn-primary">Details</a>
        </div>
      </div>
  </div>
</div>
</div>
