<div class="card parentCard">
            <div>
              <h5 class="iconSpan">Manage My Network</h5>
              <br>
              <div class="item">
                <a [routerLink]="['/FullNetwork/connections']">
                  <i class="fas fa-users usersIcon usersIconGroup1"></i><span class="iconSpan"> connections </span>
                  <span class="iconSpan" style="float: right"> 17</span>
                </a>
              </div>

              
              <div class="W-100%"><br></div>

              <div class="item">
                <a href="#">
                  <i class="fas fa-users usersIcon usersIconGroup1"></i>
                  <span class="iconSpan"> Groups </span>
                  <span class="iconSpan" style="float: right"> 2</span></a>
              </div>
             
              <div class="W-100%"><br></div>
            </div>
            <br>

            <div class="card" style="width: 100%; height: auto; align-items: center">
              <img class="card-img-top" src="https://static-exp1.licdn.com/scds/common/u/images/promo/ads/li_evergreen_jobs_ad_300x250_v1.jpg" alt="Advertise on LinkedIn" style="width: 100%; height: auto">
            </div>
            <div class="W-100%"><br></div>
            <div class="card-header">
              <a href="#"> Grow your Network</a>
            </div>
          </div>