<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create a post</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form [formGroup]='postForm' (ngSubmit)='onSubmit()'>

        <div class="modal-body">
            <div style="padding-left: .8em;">
                <img class="card-img-top" src="../../../../assets/nav-img.png" alt="Card image"
                    style="width:10%;border-radius:50%;">
                <div style="display: inline-block;" class="ml-2">
                    <span>
                        <strong>User Name</strong>
                    </span>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="Post" name="Post" required>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" formControlName="GroupId" [value]='getId'>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" formControlName="Likes" value="0">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" formControlName="postImg" value="0">
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" formControlName="UserId" value="testUserId">
            </div>
            <div style="width: 100%; text-align:center; ">
                <a href="#" class="postIconsHover">
                    <div class="diviconsize" style=" width: 20%; display: inline-block;"> <i
                            class="far fa-image writeposticons" style="color: #70b5f9;"></i><span
                            class=" writeposticonsNames">
                            Photos </span></div>
                </a>
                <a href="#" class="postIconsHover">
                    <div class="diviconsize" style=" width: 20%; display: inline-block;"> <i
                            class="fab fa-youtube writeposticons" style="color: #81c261;"></i><span
                            class=" writeposticonsNames"> Video </span></div>
                </a>
                <a href="#" class="postIconsHover">
                    <div class="diviconsize" style=" width: 20%; display: inline-block;"> <i
                            class="far fa-calendar-check writeposticons" style="color: #e7a33e;"> </i><span
                            class=" writeposticonsNames"> Events </span></div>
                </a>
                <a href="#" class="postIconsHover">
                    <div class="diviconsize" style=" width: 20%;display: inline-block;"> <i
                            class="far fa-file-alt writeposticons" style="color: #f5987e;"></i> <span
                            class=" writeposticonsNames"> Article</span> </div>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-primary" [disabled]='!postForm.valid'
                (click)="c('Save click')">Post</button>
        </div>
    </form>
</ng-template>

<button id="writePost" class="btn btn-lg btn-outline-primary" (click)="open(content)">Write a post</button>