#writePost {
    width: 80%;
    border-radius: 1.2em;
    background-color: rgba(148, 140, 140, 0.261);
    border: 1px solid rgba(148, 140, 140, 0.261);
    color: rgb(70, 67, 67) ;
    padding: .35em;
    font-size: 16px;
}

.btn:focus {
    box-shadow: none;
}