<div class="card" style="width:100%;height: auto;align-items: center; padding: 5px; border-radius: .5em">
    <div class="W-100%"><br></div>


    <img class="card-img-top mb-2" src="../../../../assets/2.png" alt="Card image" style="width:40%;border-radius:50%;">
    <div style="text-align: center;" >
      <a href="#" style="color: black;"><strong>Marwa Tag</strong> </a>
      <br>
      <span class="txtcolor">Electrical power Engineer</span>
      <hr>
      <div class="profilecardsection">
        <a href="#">
          <span class="txtcolor"> connections <span style=" color: blue;"> 17</span>
        </span></a>
        <br> <span style="font-weight: bold;">Grow your network</span> <br>
      </div>
      <div class="profilecardsection">
        <a href="#"> <span class="txtcolor">invitation </span> <span style=" color: blue;">
            1</span></a>
      </div>
      <hr>
      <div class="profilecardsection">
        <a href="#"><i class="fas fa-bookmark " style="font-size: 1em; color: black;"></i> <span style="margin:.5em; color: black;"> my items </span></a>
      </div>
      <br>
      



    </div>
  </div>