<div class="card" style="width:100%;height: auto;align-items: center; padding: 5px; border-radius: .5em">
    <div class="W-100%"><br></div>


    <img class="card-img-top mb-2" src="../../../../assets/2.png" alt="Card image" style="width:40%;border-radius:50%;">
    <div style="text-align: center;" >
      <a href="#" style="color: #b4272d"><strong>Marwa Tag</strong> </a>
      <br>
      <span style="color:#68161ad5">Electrical power Engineer</span>
      <hr>
      <div class="profilecardsection">
        <a href="#">
          <span style="color:#68161ad5"> connections <span style="color: #b4272d"> 17</span>
        </span></a>
        <br> <span style="font-weight: bold;color: #b4272d">Grow your network</span> <br>
      </div>
      <div class="profilecardsection">
        <a href="#"> <span style="color:#68161ad5">invitation </span> <span style=" color: #b4272d">
            1</span></a>
      </div>
      <hr>
      <div class="profilecardsection">
        <a href="#"><i class="fas fa-bookmark " style="font-size: 1em; color: #b4272d;"></i> <span style="margin:.5em; color: black;"> my items </span></a>
      </div>
      <br>
      



    </div>
  </div>