<div class="card card-custom bg-white border-white border-0 rofile-card-border">
  <div *ngIf="uidLocal == userDetails.id; then localUsrCoverImg else visitorCoverImg"></div>
  <ng-template #localUsrCoverImg>
    <img class="imgTop" [src]="this.userDetails.avatarCover" (click)="openCoverImage(contentCoverImg)">
    <ng-template #contentCoverImg let-modal>
      <div class="modal-header">
        <span class="modalHeaderIcon">
          <i class="fas fa-images"></i>
        </span>
        <h4 class="modal-title" id="modal-basic-title">Edit Cover Picture</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <img class="modalCoverImg" [src]="previewedCoverImg||this.userDetails.avatarCover">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="fileCoverInput.click()">
          <span><i class="fas fa-edit"></i></span>
          <input #fileCoverInput id="img" type="file" style="display:none;" accept=".png,.jpg"
            (change)="preview(fileCoverInput.files,'avatarCover')" />
        </button>
        <button type="submit" class="btn btn-outline-dark"
          (click)="upload('avatarCover');modal.close('Save click');">Save</button>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #visitorCoverImg>
    <img class="imgTop" [src]="this.userDetails.avatarCover" (click)="openCoverImage(contentCoverImg)">
  </ng-template>
  <div class="card-custom-avatar">
    <div *ngIf="uidLocal == userDetails.id; then localusr else visitor"></div>
    <ng-template #localusr>
      <img [src]="this.userDetails.avatar" (click)="openImage(contentImg)">
      <ng-template #contentImg let-modal>
        <div class="modal-header">
          <span class="modalHeaderIcon">
            <i class="fas fa-images"></i>
          </span>
          <h4 class="modal-title" id="modal-basic-title">Edit Profile Image</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <img class="modalImg" [src]="previewedImg||this.userDetails.avatar">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="fileInput.click()">
            <span><i class="fas fa-edit"></i></span>
            <input #fileInput id="img" type="file" style="display:none;" accept=".png,.jpg"
              (change)="preview(fileInput.files,'avatar')" />
          </button>
          <button type="submit" class="btn btn-outline-dark"
            (click)="upload('avatar');modal.close('Save click');">Save</button>
        </div>
      </ng-template>
    </ng-template>
    <ng-template #visitor>
      <img class="img-fluid" [src]="this.userDetails.avatar">
    </ng-template>

    <div class="card-body mt-4 profile-Card-UserDetails" style="overflow-y: auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-11">
            <h4 class="user-Name card-title">{{userDetails.firstName}} {{userDetails.lastName}}</h4>
            <p class="user-JobTitel">{{userDetails.jobTitle}}</p>
            <p class="user-JobTitel"><i class="fas fa-university"></i>{{userDetails.branch}} <i
                class="fas fa-book-open"></i> {{userDetails.track}}</p>
          </div>
          <div class="col-sm-1">
            <ng-template #content let-modal>
              <div class="modal-header">
                <span class="modalHeaderIcon">
                  <i class="fas fa-id-card"></i>
                </span>
                <h4 class="modal-title" id="modal-basic-title">Edit Personal Data</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="editPersonalData" (ngSubmit)='saveChanges()'>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="firstName">First Name *</label>
                    <input formControlName="firstName" type="text" class="form-control"
                      ngbTooltip="First Name must be 3 charaters or more">
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last Name *</label>
                    <input formControlName="lastName" type="text" class="form-control"
                      ngbTooltip="Last Name must be 3 charaters or more" minlength="3" required>
                  </div>
                  <div class="form-group">
                    <label for="jobTitle">Job Title *</label>
                    <input formControlName="jobTitle" type="text" class="form-control"
                      ngbTooltip="Job Title must be 3 charaters or more" minlength="3" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark">Save</button>
                </div>
              </form>
            </ng-template>
            <a class="profile-Card-Edit" (click)="openPersonalData(content)"
              *ngIf="uidLocal == userDetails.id ;else visitorInvite"><i class="fas fa-user-edit"></i></a>
            <ng-template #visitorInvite>
              <div class="d-flex ">
                <a type="button" class="profile-Card-Edit pt-2" [routerLink]="['/Messages']"><i
                    class="fas fa-comment"></i></a>
                <a type="button" class="profile-Card-Edit p-2" (click)="addRequset(userDetails)"
                  *ngIf="!userDetails.request.includes(uidLocal);"><i class="fas fa-user-plus"></i></a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>