.profile-card-border {
  border-radius: 10px;
  border: 0.5px solid #c3c3c394;
}
.profile-small-p {
  color: black;
  margin-left: 8px;
}
.card-custom {
  overflow: hidden;
  min-height: 350px;
  max-height: 380px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  border-radius: 10px;
}

.card-custom-img {
  height: 180px;
  min-height: 180px;
  /* border-color: inherit; */
  background-size: auto;
}
.card-custom-img-com {
  height: 120px;
  min-height: 120px;
  /* border-color: inherit; */
  background-size: auto;
}

.card-custom-avatar img {
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 75px;
  left: 1.75rem;
  width: 14%;
  height: auto;
}

.circleBtn {
  border-radius: 50%;
  border-width: 0;
  font-size: 1.3rem;
}

.modalHeaderIcon {
  padding: 0% 2%;
  font-size: 1.5rem;
  color: #901b20;
}
