<div class="card card-custom bg-white border-white border-0 rofile-card-border">
  <div class="card-custom-img" style="background-image:url(../../../../../assets/1200x400.jpg);"></div>
  <div class="card-custom-avatar">
    <div *ngIf="uidLocal == userDetails.id; then localusr else visitor"></div>
    <ng-template #localusr>
      <img class="img-fluid" [src]="userDetails.avatar" (click)="openImage(contentImg)">
    </ng-template>
    <ng-template #visitor>
      <img class="img-fluid" [src]="userDetails.avatar">
    </ng-template>

    <ng-template #contentImg let-modal>
      <div class="modal-header">
        <span class="modalHeaderIcon">
          <i class="fas fa-images"></i>
        </span>
        <h4 class="modal-title" id="modal-basic-title">Edit Profile Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <img class="modalImg" [src]="previewedImg||this.userDetails.avatar">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="fileInput.click()">
          <span><i class="fas fa-edit"></i></span>
          <input #fileInput id="img" type="file" style="display:none;" accept=".png,.jpg"
            (change)="preview(fileInput.files)" />
        </button>
        <button type="submit" class="btn btn-outline-dark" (click)="upload();modal.close('Save click');">Save</button>
      </div>
    </ng-template>

    <div class="card-body mt-5" style="overflow-y: auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-11">
            <h4 class="card-title">{{userDetails.firstName}} {{userDetails.lastName}}</h4>
            <p class="card-text">{{userDetails.jobTitle}}</p>
          </div>
          <div class="col-sm-1">
            <ng-template #content let-modal>
              <div class="modal-header">
                <span class="modalHeaderIcon">
                  <i class="fas fa-id-card"></i>
                </span>
                <h4 class="modal-title" id="modal-basic-title">Edit Personal Data</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="editPersonalData" (ngSubmit)='saveChanges()'>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="firstName">First Name *</label>
                    <input formControlName="firstName" type="text" class="form-control" name="firstName" id="firstName"
                      placeholder="" required>
                  </div>
                  <div class="form-group">
                    <label for="lastName">Last Name *</label>
                    <input formControlName="lastName" type="text" class="form-control" name="lastName" id="lastName"
                      placeholder="" required>
                  </div>
                  <div class="form-group">
                    <label for="jobTitle">Job Title *</label>
                    <input formControlName="jobTitle" type="text" class="form-control" name="jobTitle" id="jobTitle"
                      placeholder="" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click');">Save</button>
                </div>
              </form>
            </ng-template>
            <button class="btn btn-outline-dark circleBtn" (click)="open(content)" *ngIf="uidLocal == userDetails.id"><i
                class="fas fa-edit"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>