.mainContainer {
    margin-bottom: 5%;
}

.savedJobMain,
.footerSavedJobs {
    background-color: #e8e8e8;
    width: 100%;
}

.savedJobContainer {
   
    padding-top: 4%;
}

.mySavedItems,
.mySavedItemsMain {
    border-radius: 15px;
}

.mySavedListItems {
    border-radius: 15px 15px 0px 0px;
}

.mySavedItemsHeader h3 {
    font-weight: 350;
    color: black;
    font-size: 1.5rem;
}

.noOfItems,
.branchLocation {
    float: right;
}

.mySavedItem {
    display: flex;
    flex-direction: row;
}

.mySavedItemContent {
    margin: 0px 8px;
}

.logoImg {
    width: 50px;
}

.jobTitleLink {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}

.jobTitleLink:hover {
    color: #B4272D;
}

.companyName,
.jobLocation {
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

.jobLocation {
    font-size: 0.9rem;
    font-weight: 250;
}

.activelyRecruiting,
.jobPostTime,
.applyNow {
    font-size: 0.85rem;
    font-weight: 200;
    color: rgba(37, 37, 37, 0.89);
}

.activelyRecruiting .fas {
    font-size: 1.1rem;
    color: rgb(0, 94, 0);
}

.applyNow .fab {
    font-size: 1.1rem;
    color: #0A66C2;
}

.btnMoreDetails {
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
}

.btnMoreDetailsDots {
    font-size: 1.5rem;
    color: gray;
    border-radius: 50%;
}

.btnMoreDetailsDots:hover {
    
    color: #94151b;
}

.itiBranchesHeader {
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: gray;
    margin-bottom: 5px;
}
.itiBranchesHeader i{
    color: #B4272D;
}

.itiBranchesHeader:hover {
    color: #94151b;
    text-decoration: none;
}

.itiBranchesHeader,
.itiBranchesCollapse {
    border-radius: 15px !important;
}

.footerSavedJobs {
    background-color: #212529;
}

.footerSavedJobsContainer {
    padding-bottom: 5%;
}

.footerSeparatorSavedJobs {
    margin: 0;
    margin-bottom: 3%;
}

.contactusSavedJobs * {
    margin-bottom: 10px;
    color: white;
}

.contactusSavedJobs div span {
    font-size: 1.05rem;
    margin-left: 3px;
    color: rgb(207, 204, 204);
}

.contactusSavedJobs div i {
    font-size: 1.5rem;
    color: #c22028;
}

.followusSavedJobs * {
    color: white;
}

.socialmediaLinks {
    display: flex;
    flex-direction: row;
}

.socialmediaLink {
    padding: 12px 20px 12px 20px;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 52%;
    margin-left: 10px;
}

.socialmediaLink i {
    color: #B4272D !important;
}

.socialmediaLink:hover i {
    color: #94151b !important;
}
.noAboutImg p {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    color:brown;
  }
  
  .noAboutImg img {
    width: 65%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 50%;
  }
  .messageBtn:hover{
 
    border-radius: 2em;
    font-weight: bold;

     padding-left: .9em; 
     padding-right:.9em; 
     color:white;
     border: 2px solid #b4272d;
     font-size: small;
     background-color: #b4272d !important;
 
     span{
         color: white;
         font-weight: bold;
     } 
     i{
         color: white;
     }
}
.messageBtn{
    border-radius: 2em;

     padding-left: 1em; 
     padding-right: 1em; 
     border: 1px solid #b4272d;
     color:#b4272d;
     font-size: small;
     background-color: white !important;
 
     span{
         color:#b4272d;
         font-weight: bold;
     }
   
 }
 .ar{
    text-align: right;
}

.en{
    text-align: left;
}
.arr{
    text-align: right;
    align-content:right;
    align-items: right;
    float: right !important;
}
.arrr{
  
    float: left !important;
}