<ngb-accordion #acc="ngbAccordion">
  <ngb-panel  class="customclass1" id="toggle-1" title="Recent">
    <ng-template ngbPanelContent>
      <div class="card-body">
        <a href="#">
          <i class="fas fa-users usersIcon usersIconGroup "></i> Wazifa.com </a>


        <div class="W-100%"><br></div>
        <a href="#">
          <i class="fas fa-hashtag usersIcon usersIconGroup"></i> linkedin </a>
        <div class="W-100%"><br></div>
        <a href="#">
          <i class="fas fa-users usersIcon usersIconGroup "></i> job for all - jobs in Egypt</a>
        <div class="W-100%"><br></div>
        <a href="#">
          <i class="fas fa-users usersIcon usersIconGroup "></i> jobs Egypt</a>
        <div class="W-100%"><br></div>
        <a href="#">
          <i class="fas fa-users usersIcon usersIconGroup "></i> Google Flutter</a><br>


      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2" title="Groups">
    <ng-template ngbPanelContent>
      <div class="card-body">
        <a href="#">
          <i class="fas fa-users usersIcon usersIconGroup "></i> Wazifa.com </a>
        <div class="W-100%"><br></div>
        <a href="#">
          <i class="fas fa-hashtag usersIcon usersIconGroup"></i> linkedin </a>
        <div class="W-100%"><br></div>

        <a href="#">
          <i class="fas fa-users usersIcon  usersIconGroup"></i> jobs Egypt</a>
        <div class="W-100%"><br></div>

        <a href="#">
          <i class="fas fa-users usersIcon usersIconGroup "></i> Google Flutter</a><br>
      </div>

    </ng-template>
  </ngb-panel>

  <ngb-panel id="toggle-3" title="Events">
    <ng-template ngbPanelContent>
      <p>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
      officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
      tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
      helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </p>
    </ng-template>
  </ngb-panel>

</ngb-accordion>