i{
    color: #b4272d
}
a,p{
   color: #68161ad5;
   font-size: small;

}
#toggle-3[title]{
    color: #b4272d;
}

/*.customclass1{
    background-color: yellow!important;
  }
//   ngb-accordion /deep/ .card /deep/ [title=Recent]{
//     background-color: yellow;
// }

ngb-accordion ::ng-deep .card ::ng-deep [role=tab]#\31 -header{
    background-color: red !important;
}*/