
<div class="card mt-3 boo" style="width: 100%;">

  <div class="card-body">
    <h5 class="card-title mb-2 text-muted">Activity</h5>
    <div class="container mt-4">
      <div class="row">
        <div class="col">
          
<app-activity-component></app-activity-component>
<app-activity-component></app-activity-component>

        </div>
        <div class="col">
          
          <app-activity-component></app-activity-component>
          <app-activity-component></app-activity-component>

        </div>
      </div>
    </div>
  </div>
</div>