<div class="media border p-3 postcontainer" style="background-color: white;  border-radius: .5em">
  <div class="media-body" style="  align-items: center;">
    <div>
      <!-- The Modal -->
      <img src={{myData.avatar}} style="width:50px;height:50px;" alt="John Doe" class="mr-3 mt-3 rounded-circle">
      <!-- Button to Open the Modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="width: 80%;border-radius: 1.2em;background-color: rgba(148, 140, 140, 0.261); border: 1px solid rgba(148, 140, 140, 0.261);color: rgb(70, 67, 67) ; padding: .6em;">
<span style="float: left;"> start a post</span>
</button>-->
      <app-home-post-model></app-home-post-model>
      <!----------------------------------------------------------------------------------------------->
    </div>
    <div class="W-100%"><br></div>
    <div style="width: 100%; text-align:center; ">
      <!-- <a href="#" class="postIconsHover">
          <div class="diviconsize" > <i class="far fa-image writeposticons" style="color: #70b5f9;"></i><span class=" writeposticonsNames">
              Photos </span></div>
        </a>
        <a href="#" class="postIconsHover">
          <div class="diviconsize" > <i class="fab fa-youtube writeposticons" style="color: #81c261;"></i><span class=" writeposticonsNames"> Video </span></div>
        </a>
        <a href="#" class="postIconsHover">
          <div class="diviconsize" > <i class="far fa-calendar-check writeposticons" style="color: #e7a33e;"> </i><span class=" writeposticonsNames"> Events </span></div>
        </a>
        <a href="#" class="postIconsHover">
          <div class="diviconsize" > <i class="far fa-file-alt writeposticons" style="color: #f5987e;"></i> <span class=" writeposticonsNames"> Article</span> </div>
        </a> -->

        
      <a  class="postIconsHover">
        <div class="diviconsize" style=" width: 20%; display: inline-block;"> <i class="far fa-image writeposticons"
            style="color: #70b5f9;"></i><span class=" writeposticonsNames">
            Photos </span></div>
      </a>
      <a  class="postIconsHover">
        <div class="diviconsize" style=" width: 20%; display: inline-block;"> <i class="fab fa-youtube writeposticons"
            style="color: #81c261;"></i><span class=" writeposticonsNames"> Video </span></div>
      </a>
      <a  class="postIconsHover">
        <div class="diviconsize" style=" width: 20%; display: inline-block;"> <i
            class="far fa-calendar-check writeposticons" style="color: #e7a33e;"> </i><span
            class=" writeposticonsNames"> Events </span></div>
      </a>
      <a  class="postIconsHover">
        <div class="diviconsize" style=" width: 20%;display: inline-block;"> <i class="far fa-file-alt writeposticons"
            style="color: #f5987e;"></i> <span class=" writeposticonsNames"> Article</span> </div>
      </a>
    </div>
  </div>
</div>