<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4">
           
            <app-home-profile-card></app-home-profile-card>
            <br><br>
            <app-home-dropdowen></app-home-dropdowen>
            <br><br>
        </div>
        <div class="col-md-6 mt-4">
            <app-home-write-post></app-home-write-post>
            <br><br>
            <app-home-post-body></app-home-post-body>
            <br><br>
            <app-home-post-body></app-home-post-body>
            <br><br>
            
        </div>
       <div class="col-md-3 mt-4">
           <app-home-add-to-your-feed></app-home-add-to-your-feed>
           
       </div>

    </div>
</div>