<div class="card mt-3 boo" style="width: 100%;">

  <div class="card-body" style="width: 100%;">
    <h5 class="card-title mb-2 text-muted">Experience</h5>
    <app-Experience-profile>

    </app-Experience-profile>
    <app-Experience-profile></app-Experience-profile>
  <hr class="more" style="display: none; margin-bottom: 0;">
  <div onclick="ex()" style="text-align: center; padding: 10px;"><button type="button" class="btn btn-outline-dark" style="border-radius:18px;">more</button></div>
</div>