
<div class="media border p-3 postcontainer " id="post1" style="background-color: white; border-radius: .5em;">
    <div class="media-body " style="  align-items: center ">
      <span style="font-size: .8em;">
        New post in 
      </span>

     <a href="#" style="font-size: .8em;"> UI/UX User Experience / Wireframes </a>

      <a style="float: right;"><i class="fas fa-ellipsis-h dotsIcon"></i></a>
      <hr> 
      <div class="row mb-2">
        <div class="col-2 pr-1">
          <img src="../../../../assets/fiver.jpg" style="width:100%;height: auto;border-radius: 50%;" alt="John Doe" class="mr-1   rounded-circle">
      
        </div>
        <div class="col-10 pl-1">
          
         <strong style="color: #b4272d">John Doe </strong><br>
         <small>freelancer frontend developer </small>
         <br><small>1 min</small>
      
        </div>

      </div>
     
     
      <p style="font-size: .8em;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.</p>
      <div style="margin-left: 15px;">
        <img src="../../../../assets/n2.jpg" style="width:48%;height: auto; " alt="John Doe">

        <img src="../../../../assets/n3.jpg" style="width:48%;height: auto;" alt="John Doe">

      </div>

      <div class="W-100%"><br></div>
      <!--  posts two buttons-->

      <hr>
      <div style="width: 100%; text-align:center ; font-size: .7em;">

       
       
        <a href="#" class="postIconsHover">
          <div class="diviconsize2" style=" width: 20%;display: inline-block;"> <i class="far fa-thumbs-up"></i><span class="posticons"> like</span> </div>
        </a>
        <a href="#" class="postIconsHover">
          <div class="diviconsize2" style=" width: 20%; display: inline-block;"><i class="far fa-comment"></i><span class="posticons"> comment </span></div>
        </a>
        <a href="#" class="postIconsHover">
          <div class="diviconsize2" style=" width: 20%; display: inline-block;"> <i class="fas fa-share"></i><span class="posticons"> Share </span></div>
        </a>
        
        <a href="#" class="postIconsHover">
          <div class="diviconsize2" style=" width: 20%; display: inline-block;"> <i class="fas fa-paper-plane"></i><span class="posticons"> Send </span></div>
        </a>
      
      </div>
    </div>
  </div>