<section class="groups-page">
    <div class="container">
        <div class="content-groups">
            <!-- if there are no groups the user has been joined -->
            <!-- <div id="GroupsDiscover" class="Groups-content-display1 text-center">
                <h3>Discover groups</h3>
                <img src="img/discGroups.jpg" width="80%" class="py-5">
                <p>Find other trusted communities that share and support your goals.</p>
                <a href="#" class="btn btn-outline-info">Discover</a>
            </div> -->
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink>Groups</a>
                    <ng-template ngbNavContent>
                        <div id="GroupsDiscover" class="Groups-content-display1">
                            <h1 class="px-2 text-muted">Your Groups</h1>
                            <ul class="list-group list-group-flush" *ngFor="let g of GroupList">
                                <li class="list-group-item">
                                    <div class="media">
                                        <img class="mr-3" [src]="g.ImgURL" alt="" width="64px">
                                        <div class="media-body">
                                            <h6 class="mt-2 mb-1">
                                                <a routerLink="/Group/group-profile/{{g.id}}">{{g.Name}}</a>
                                            </h6>
                                            <small class="text-muted"><span>{{g.Specialty}}</span></small>
                                        </div>
                                        <div>
                                            <button class="btn btn-outline-danger btn-sm rounded-pill mt-3 px-3"
                                                (click)='leaveGroup(userID, g.id)'><i class="fas fa-sign-out-alt"></i>
                                                Leave
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Requests</a>
                    <ng-template ngbNavContent>
                        <div id="GroupsDRequest" class="Groups-content-display2">
                            <h1 class="px-2 text-muted">Your Requests</h1>
                            <ul class="list-group list-group-flush" *ngFor="let g of subscribers">
                                <li class="list-group-item">
                                    <div class="media">
                                        <img class="mr-3" src="../../../../assets/400x400.png" alt="" width="64px">
                                        <div class="media-body">
                                            <h6 class="mt-2 mb-1"><a
                                                    routerLink="/Group/group-profile/{{g.id}}">{{g.Name}}
                                                </a>
                                            </h6>
                                            <small class="text-muted"><span>{{g.Specialty}}</span> members</small>
                                        </div>
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-pill px-3 mt-3"
                                            (click)='leaveGroup(userID, g.id);'><i class="fas fa-undo"></i>
                                            Withdraw</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </li>
                <div class="ml-auto bd-highlight">
                    <a [routerLink]="['/Group/discover-groups']"
                        class="btn btn-sm btn-outline-primary rounded-pill px-3">Discover Groups</a>
                </div>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</section>