.profile-exp-borderImg {
  width: 55px;
  height: auto;
  border-radius: 50%;
}

.expDegree {
  margin-left: 8px;
  color: rgb(23 25 25);
  font-size: 18px;
}

.profile-small-text {
  color: gray;
  font-size: 14px;
  margin-left: 8px;
}
.iconExp {
  font-size: 1rem;
  padding: 1% 2%;
  color: #901b20;
}

.circleBtn {
  border-radius: 50%;
  border-width: 0;
  font-size: 1.3rem;
}

.presentRadio {
  padding-top: 2.5rem;
}

.modalHeaderIcon {
  padding: 0% 2%;
  font-size: 1.5rem;
  color: #901b20;
}
.profile-Exp-Titel {
  display: block;
}

.profile-Exp-Titel p {
  display: block;
  margin: 0;
}
.profile-Exp-Titel h5 {
  display: block;
  margin-bottom: 1px;
}
.profile-Exp-title-2ndColor {
  color: #6e6d6de7;
  font-size: 0.8rem;
}
.profile-Exp-Edit {
  display: flex;
  padding: 0;
  opacity: 0;
  transition: 0.8s;
}
.profile-Exp-Edit a {
  margin-left: 10px;
  color: #801818;
}

.profile-Card-Exp:hover .profile-Exp-Edit {
  transition: 0.8s;
  opacity: 1;
}

input.ng-dirty.ng-valid.ng-touched:not(form),
input.ng-pristine.ng-valid.ng-touched:not(form),
textarea.ng-dirty.ng-valid.ng-touched:not(form),
textarea.ng-pristine.ng-valid.ng-touched:not(form) {
  border-left: 5px solid #42a948 !important;
}

input.ng-touched.ng-dirty.ng-invalid:not(form),
input.ng-touched.ng-pristine.ng-invalid:not(form),
textarea.ng-touched.ng-dirty.ng-invalid:not(form),
textarea.ng-touched.ng-pristine.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important;
}
