<div class="row profile-Card-Exp" style="margin-top:20px;padding-left: 8px;">
  <div class="col-sm-1"><img
      src="https://firebasestorage.googleapis.com/v0/b/iti-community.appspot.com/o/UsersProfileImages%2Fistockphoto-915109728-612x612.jpg?alt=media&token=211eb9bc-9146-40a7-9778-c1da2b7758e9"
      alt="ss" class="profile-exp-borderImg"></div>
  <div class="col-sm-9" style="margin-left: 8px; width: 100%;">
    <div class="profile-Exp-Titel" style="margin-bottom: 4px;">
      <h5>{{userExperience.experience.companyName}}</h5>
      <p>{{userExperience.experience.degree}}
      <p class="profile-Exp-title-2ndColor">{{userExperience.experience.from}} -
        {{userExperience.experience.to}}</p>
      <p class="profile-Exp-title-2ndColor"> {{userExperience.experience.location}}</p>
    </div>
    <p style="margin-top: 2%;"><i class="fas fa-pen-fancy iconExp"></i>{{userExperience.experience.description}}</p>
  </div>
  <div class="col-sm-1 profile-Exp-Edit" *ngIf="userExperience.id == uidLocal">
    <a (click)="openEditExperience(content)"><i class="fas fa-edit"></i></a>
    <a (click)="deleteExp()"><i class="fas fa-trash-alt"></i></a>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <span class="modalHeaderIcon">
        <i class="fas fa-tasks"></i>
      </span>
      <h4 class="modal-title" id="modal-basic-title">Edit Experience</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="editExp" (ngSubmit)='saveChanges()'>
      <div class="modal-body">
        <div class="form-group">
          <label for="companyName">Company Name*</label>
          <input formControlName="companyName" type="text" name="companyName" id="companyName" class="form-control"
            placeholder="" required>
        </div>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="from">From*</label>
            <input formControlName="from" type="date" name="from" id="from" class="form-control" placeholder=""
              max={{today}} required>
          </div>
          <div class="col-sm-5 form-group">
            <label for="to">To*</label>
            <input formControlName="to" type="date" name="to" id="to" class="form-control" placeholder="" max={{today}}>
          </div>
          <div class="col-sm-2 form-group presentRadio">
            <input class="form-check-input" type="checkbox" name="present" id="present" value="present"
              [checked]="checked" (change)="ch()">
            <label class="form-check-label" for="present">Present</label>
          </div>
        </div>
        <div class="form-group">
          <label for="location">Location*</label>
          <input formControlName="location" type="text" name="location" id="location" class="form-control"
            placeholder="" required>
        </div>
        <div class="form-group">
          <label for="description">Description*</label>
          <textarea formControlName="description" name="description" id="description" class="form-control"
            minlength="10" required></textarea>
        </div>
        <div class="form-group">
          <label for="degree">Degree*</label>
          <input formControlName="degree" type="text" name="degree" id="degree" class="form-control" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </ng-template>
</div>
<hr>








<!-- <a class="d-flex" style="margin-top:20px;padding-left: 8px;" href="#">
  
</a> -->