<div class="card parentCard" *ngIf="sentRequests.length >0" [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
  <div class="card" style="width: 100%; height: auto; border:none ">
    <h4 class="cardH4">
      {{'Friend Requests I sent' | translate }}
    </h4>
  </div>
  <div class="card mb-2" *ngFor="let item of (sentRequests| slice: -2) "
    style="border-bottom: 1px solid rgba(65, 6, 6, 0.055)">
    <div class="row g-0">
      <div class="col-md-4 m-1" style=" padding-right: 0px;">
        <img class="card-img-top" src={{item.avatar}} alt="Card image" />
      </div>
      <div class="col-md-7" style="margin: 0px;padding: 0px;">
        <div class="card-body pb-0 LineHeight" style="padding-left: 0px;padding-right:2px; text-align: center;"
        [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
          <div>
            <a href="#" routerLink="/profile/{{item.id}}">
              <h6 class="card-title m-0 nameH6">{{item.firstName}}</h6>
              <p class="card-text mb-2">
                <small class="jobSmall"> {{item.jobTitle}} </small>
              </p>
            </a>
          </div>
          <button data-control-name="sidebar_follow_actor_follow_toggle" aria-pressed="false" aria-label="Follow"
            id="ember135"
            class="follow ember-view feed-follows-module-recommendation__follow-btn artdeco-button artdeco-button--secondary artdeco-button--2 artdeco-button--muted"
            (click)="cancelRequest(item)">
            <span aria-hidden="true"> {{'cancel Request' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 7px; align-content: center;">
    <a [routerLink]="['/FullNetwork/sentRequests']" style="color: brown; margin-left: 20px;">
      {{'See All Requests You Sent' | translate }}
    </a>
  </div>

</div>