<div *ngIf="Group != undefined">
    <div class="card">
        <div class="card-body" [ngClass]="{'text-right': Lang == 'ar'}">
            <h6 class="card-title"><span>{{users.length}}</span> {{'members' | translate}}</h6>
            <p class="card-text">{{'including' | translate}} </p>
            <span *ngFor="let u of users; let i = index">
                <span *ngIf="i<5">
                    <img class="avatar-container-item avatars-right" src="{{u.avatar}}">
                </span>
            </span>
            <span class="avatar-container-more">...</span>
            <!-- <button type="button" class="btn btn-primary btn-sm my-3">Invite Connections</button> -->
        </div>
        <div class="card-footer text-muted text-center">
            <button class="btn py-0"><a (click)="openLg(content)" class="card-link">{{'See All' |
                    translate}}</a></button>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h6 class="modal-title" id="modal-basic-title">{{'Group Members' | translate}}</h6>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
                    [ngClass]="{'m-0 p-0': Lang == 'ar'}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name="search" class="form-control" [(ngModel)]="keyWordsSearch"
                        placeholder="{{'What Do You Have Searching For ?...' | translate}}">
                </div>
                <div class="row" [ngClass]="{'text-right': Lang == 'ar'}">
                    <h5 class="text-muted p-2">{{'Admins' | translate}}</h5>
                    <div class="col-md-12">
                        <div *ngFor="let a of users | filter:keyWordsSearch">
                            <div class="mb-3 px-3" [ngClass]="{'d-flex align-items-center': Lang =='ar'}"
                                *ngIf="a.Role == 1">
                                <img [src]="a.avatar" width="60">
                                <a href="#" class="font-weight-bold btn">
                                    {{a.firstName}} {{a.lastName}}
                                    <span class="badge badge-secondary ml-2">{{'Admin' | translate}}</span>
                                </a>
                                <div class="float-right"
                                    [ngClass]="{'pt-0 mr-auto': Lang == 'ar', 'd-none': a.id == userID}">
                                    <div class="btn-group mr-3">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="openChat(loggedUser, a); modal.dismiss('Cross click')">{{'Messege'
                                            |
                                            translate}}</button>
                                        <div class="btn-group" ngbDropdown role="group"
                                            aria-label="Button group with nested dropdown"
                                            *ngIf="adminID.includes(userID)">
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split"
                                                ngbDropdownToggle></button>
                                            <div class="dropdown-menu" ngbDropdownMenu
                                                [ngClass]="{'text-right': Lang == 'ar'}">
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 2)">
                                                        {{'Member' | translate}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 0)">
                                                        {{'Subscriber' | translate}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="deleteUser(a.id, GroupId)">
                                                        {{'Delete' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-muted p-2">{{'Members' | translate}}</h5>
                    <div class="col-md-12">
                        <div *ngFor="let a of users | filter:keyWordsSearch">
                            <div *ngIf="a.Role == 2" class="mb-3 px-3"
                                [ngClass]="{'d-flex align-items-center': Lang =='ar'}">
                                <img [src]="a.avatar" width="60">
                                <a href="#" class="font-weight-bold btn">
                                    {{a.firstName}} {{a.lastName}}
                                    <span class="badge badge-secondary ml-2">{{'Member' | translate}}</span>
                                </a>
                                <div class="float-right"
                                    [ngClass]="{'pt-0 mr-auto': Lang == 'ar', 'd-none': a.id == userID}">
                                    <div class="btn-group mr-3">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="openChat(loggedUser, a); modal.dismiss('Cross click')">{{'Messege'
                                            |
                                            translate}}</button>
                                        <div class="btn-group" ngbDropdown role="group"
                                            aria-label="Button group with nested dropdown"
                                            *ngIf="adminID.includes(userID)">
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split"
                                                ngbDropdownToggle></button>
                                            <div class="dropdown-menu" ngbDropdownMenu
                                                [ngClass]="{'text-right': Lang == 'ar'}">
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 1)">
                                                        {{'Admin' | translate}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 0)">
                                                        {{'Subscriber' | translate}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="deleteUser(a.id, GroupId)">
                                                        {{'Delete' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-muted p-2">{{'Subscribers'| translate}}</h5>
                    <div class="col-md-12">
                        <div *ngFor="let a of users | filter:keyWordsSearch" class="mb-3">
                            <div *ngIf="a.Role == 0" class="mb-3 px-3"
                                [ngClass]="{'d-flex align-items-center': Lang =='ar'}">
                                <img [src]="a.avatar" width="60">
                                <a href="#" class="font-weight-bold btn">
                                    {{a.firstName}} {{a.lastName}}
                                    <span class="badge badge-secondary ml-2">{{'Subscriber' | translate}}</span>
                                </a>
                                <div class="float-right"
                                    [ngClass]="{'pt-0 mr-auto': Lang == 'ar', 'd-none': a.id == userID}">
                                    <div class="btn-group mr-3">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="openChat(loggedUser, a); modal.dismiss('Cross click')">{{'Messege'
                                            |
                                            translate}}</button>
                                        <div class="btn-group" ngbDropdown role="group"
                                            aria-label="Button group with nested dropdown"
                                            *ngIf="adminID.includes(userID)">
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split"
                                                ngbDropdownToggle></button>
                                            <div class="dropdown-menu" ngbDropdownMenu
                                                [ngClass]="{'text-right': Lang == 'ar'}">
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 1)">
                                                        {{'Admin' | translate}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 2)">
                                                        {{'Member' | translate}}
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="deleteUser(a.id, GroupId)">
                                                        {{'Delete' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="card text-left mt-3">
        <div class="card-body" [ngClass]="{'text-right': Lang == 'ar'}">
            <h6 class="card-title">{{'Description' | translate}}</h6>
            <p class="card-text">{{Group.Description.slice(0, 200)}}...</p>
        </div>
        <div class="card-footer text-muted text-center">
            <button class="btn py-0"><a (click)="openLg(about)" class="card-link">{{'See All' | translate}}</a></button>
        </div>
    </div>
    <ng-template #about let-modal>
        <div class="modal-header">
            <h6 class="modal-title" id="modal-basic-title">{{'Description Group' | translate}}</h6>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
                [ngClass]="{'m-0 p-0': Lang == 'ar'}">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="p-3" [ngClass]="{'text-right': Lang == 'ar'}">
            <h4>{{'Group Name:' | translate}} {{Group.Name}}</h4>
            <h4>{{'Group specialty:' | translate}} {{Group.Specialty}}</h4>
            <hr>
            <h6 class="text-muted">{{'Group Description' | translate}}</h6>
            <p>{{Group.Description}}</p>
        </div>
    </ng-template>
    <div class="card mt-3" [ngClass]="{'text-right': Lang == 'ar'}">
        <div class="card-body">
            <h6 class="card-title">{{'Admins' | translate}} : {{adminRole.length}}</h6>
            <div class="media mt-3" *ngFor="let a of adminRole">
                <div class="media-body text-center">
                    <img class="mr-2 rounded-circle" [src]="a.avatar" alt="" width="64px">
                    <h6 class="mt-1 mb-1">
                        <a class="text-dark text-decoration-none" href="#">
                            {{a.firstName}}
                            {{a.lastName}}
                        </a>
                        <span class="badge badge-secondary">{{'Manager' | translate}}</span>
                    </h6>
                    <small class="text-muted">{{a.jobTitle}}</small>
                </div>
            </div>
        </div>
    </div>
</div>