<div *ngIf="Group != undefined">
    <div class="card text-left">
        <div class="card-body">
            <h6 class="card-title"><span>{{users.length}}</span> members</h6>
            <p class="card-text">including ...</p>

            <img class="avatar-container-item avatars-right" src="../../../../assets/nav-img.png">
            <img class="avatar-container-item avatars-right" src="../../../../assets/nav-img.png">
            <img class="avatar-container-item avatars-right" src="../../../../assets/nav-img.png">
            <img class="avatar-container-item avatars-right" src="../../../../assets/nav-img.png">
            <span class="avatar-container-more">...</span>
            <button type="button" class="btn btn-primary btn-sm my-3">Invite Connections</button>
        </div>
        <div class="card-footer text-muted text-center">
            <button class="btn py-0"><a (click)="openLg(content)" class="card-link">See All</a></button>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h6 class="modal-title" id="modal-basic-title">Group Members</h6>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name="search" class="form-control" [(ngModel)]="keyWordsSearch"
                        placeholder="What Do You Have Searching For ?...">
                </div>
                <div class="row">
                    <h5 class="text-muted p-2">Admins</h5>
                    <div class="col-md-12">
                        <div *ngFor="let a of users | filter:keyWordsSearch" class="mb-3">
                            <div *ngIf="a.Role == 1">
                                <img src="../../../../assets/nav-img.png" width="60">
                                <a href="#" class="font-weight-bold btn">
                                    {{a.firstName}} {{a.lastName}}
                                    <span class="badge badge-secondary ml-2">Admin</span>
                                </a>
                                <div class="float-right pt-3">
                                    <div class="btn-group mr-3">
                                        <button type="button" class="btn btn-outline-primary btn-sm">Messege</button>
                                        <div class="btn-group" ngbDropdown role="group"
                                            aria-label="Button group with nested dropdown"
                                            *ngIf="adminID.includes(userID)">
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split"
                                                ngbDropdownToggle></button>
                                            <div class="dropdown-menu" ngbDropdownMenu>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 2)">
                                                        Member
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 0)">
                                                        Subscriber
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="deleteUser(a.id, GroupId)">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-muted p-2">Members</h5>
                    <div class="col-md-12">
                        <div *ngFor="let a of users | filter:keyWordsSearch" class="mb-3">
                            <div *ngIf="a.Role == 2">
                                <img src="../../../../assets/nav-img.png" width="60">
                                <a href="#" class="font-weight-bold btn">
                                    {{a.firstName}} {{a.lastName}}
                                    <span class="badge badge-secondary ml-2">Member</span>
                                </a>
                                <div class="float-right pt-3">
                                    <div class="btn-group mr-3">
                                        <button type="button" class="btn btn-outline-primary btn-sm">Messege</button>
                                        <div class="btn-group" ngbDropdown role="group"
                                            aria-label="Button group with nested dropdown"
                                            *ngIf="adminID.includes(userID)">
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split"
                                                ngbDropdownToggle></button>
                                            <div class="dropdown-menu" ngbDropdownMenu>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 1)">
                                                        Admin
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 0)">
                                                        Subscriber
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="deleteUser(a.id, GroupId)">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="text-muted p-2">Subscribers</h5>
                    <div class="col-md-12">
                        <div *ngFor="let a of users | filter:keyWordsSearch" class="mb-3">
                            <div *ngIf="a.Role == 0">
                                <img src="../../../../assets/nav-img.png" width="60">
                                <a href="#" class="font-weight-bold btn">
                                    {{a.firstName}} {{a.lastName}}
                                    <span class="badge badge-secondary ml-2">Subscriber</span>
                                </a>
                                <div class="float-right pt-3">
                                    <div class="btn-group mr-3">
                                        <button type="button" class="btn btn-outline-primary btn-sm">Messege</button>
                                        <div class="btn-group" ngbDropdown role="group"
                                            aria-label="Button group with nested dropdown"
                                            *ngIf="adminID.includes(userID)">
                                            <button class="btn btn-outline-primary btn-sm dropdown-toggle-split"
                                                ngbDropdownToggle></button>
                                            <div class="dropdown-menu" ngbDropdownMenu>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 1)">
                                                        Admin
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="Roles(a.id, GroupId, 2)">
                                                        Member
                                                    </button>
                                                </div>
                                                <div>
                                                    <button ngbDropdownItem (click)="deleteUser(a.id, GroupId)">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="card text-left mt-3">
        <div class="card-body">
            <h6 class="card-title">Description</h6>
            <p class="card-text">{{Group.Description.slice(0, 200)}}...</p>
        </div>
        <div class="card-footer text-muted text-center">
            <button class="btn py-0"><a (click)="openLg(about)" class="card-link">See All</a></button>
        </div>
    </div>
    <ng-template #about let-modal>
        <div class="modal-header">
            <h6 class="modal-title" id="modal-basic-title">Description Group</h6>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="p-3 ">
            <h4>Group Name: {{Group.Name}}</h4>
            <h4>Group specialty: {{Group.Specialty}}</h4>
            <hr>
            <h6 class="text-muted">Group Description</h6>
            <p>{{Group.Description}}</p>
        </div>
    </ng-template>
    <div class="card text-left mt-3">
        <div class="card-body">
            <h6 class="card-title">Admins : {{adminRole.length}}</h6>
            <div class="media mt-3" *ngFor="let a of adminRole">
                <div class="media-body">
                    <img class="mr-2 rounded-circle" [src]="a.avatar" alt="" width="64px">
                    <h6 class="mt-1 mb-1">
                        <a class="text-dark text-decoration-none" href="#">
                            {{a.firstName}}
                            {{a.lastName}}
                        </a>
                        <span class="badge badge-secondary">Manager</span>
                    </h6>
                    <small class="text-muted">{{a.jobTitle}}</small>
                </div>
            </div>
        </div>
    </div>
</div>