<div class="container-fluid">
    <div class="row registerContent">
        <div class="col-sm-10 col-md-6 col-lg-4 mt-2 mb-2 userRegisterContainer">
            <a href="" id="loginLogo">
                <img class="header__logo" src="../../../../assets/iti-logo.png">
                <div class="header__separator"></div>
                <span class="header__title">Information Technology Institute</span>
            </a>
            <form [formGroup]="registerNewUser" (ngSubmit)='register()'>
                <div class="row">
                    <div class="col-sm mb-2">
                        <label class="form-label text-black-50">
                            First Name *
                        </label>
                        <input formControlName="firstName" type="text" class="form-control"
                            ngbTooltip="First Name must be 3 charaters or more">
                    </div>
                    <div class="col-sm mb-2">
                        <label class="form-label text-black-50">
                            Last Name *
                        </label>
                        <input formControlName="lastName" type="text" class="form-control"
                            ngbTooltip="Last Name must be 3 charaters or more">
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label text-black-50">
                        National ID *
                    </label>
                    <input formControlName="nationalID" type="text" minlength="14" maxlength="14" class="form-control"
                        ngbTooltip="National ID must be 14 number">
                </div>
                <div class="mb-2">
                    <label class="form-label text-black-50">Email address *</label>
                    <input formControlName="email" type="email" class="form-control" ngbTooltip="Email is not correct">
                </div>
                <div class="mb-2">
                    <label class="form-label text-black-50">
                        Password (8 or more characters and numbers) *
                    </label>
                    <div style="display: flex; flex-direction: row;">
                        <input formControlName="password" [type]="fieldTextType ? 'text' : 'password'"
                            class="form-control" minlength="8" maxlength="38"
                            ngbTooltip="Password must started with charater and contain characters and numberswith 8 digits length">
                        <span class="icon" (click)="fieldTextType = !fieldTextType">
                            <i [ngClass]="{'far fa-eye': fieldTextType,'fas fa-eye-slash':!fieldTextType}"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mb-2">
                        <label class="form-label text-black-50">
                            Branch *
                        </label>
                        <select formControlName="branch" class="form-control" ngbTooltip="You must choose your branch">
                            <option *ngFor="let branch of branches;" value={{branch.id}}>{{branch.data.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm mb-2">
                        <label class="form-label text-black-50">
                            Track *
                        </label>
                        <select formControlName="track" class="form-control" ngbTooltip="You must choose your track">
                            <option *ngFor="let track of tracks;" value={{track.id}}>{{track.data.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-label text-black-50">
                        Scholarship Duration *
                    </label>
                    <select formControlName="scholar" class="form-control" ngbTooltip="You must choose your scholar">
                        <option *ngFor="let duration of durations;" value={{duration.id}}>
                            {{duration.data.textDescription}}
                        </option>
                    </select>
                </div>
                <button type="submit" id="registerButton" class="btn fs-6 col-12 rounded-pill mt-2">
                    Agree & Join
                </button>
                <div class="text-center mt-2 ">
                    Already on ITI Community?
                    <div id="signin">
                        <a [routerLink]="['/Login']" routerLinkActive="router-link-active"
                            class="text-decoration-none  fs-6 fw-bold">
                            Sign in
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="container-fluid footerSignIn">
            <div id="footerSignInLinks">
                <a href="">User Agreement</a>
                <a href="">Privacy Policy</a>
                <a href="">Community Guidelines</a>
                <a href="">Cookie Policy</a>
                <a href="">Copyright Policy</a>
                <a href="">Send Feedback</a>
                <span ngbDropdown class="dropup languageDropup" placement="top-right">
                    <a class="btn" id="dropdownConfig" ngbDropdownToggle>
                        Language
                    </a>
                    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                        <a ngbDropdownItem>Arabic</a>
                        <a ngbDropdownItem>English</a>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<ng-template #err let-modal>
    <div>
        <div class="modal-body">
            <div class="errLogin">
                <i class="fas fa-times"></i>
            </div>
            <p>
                The error may be :
            </p>
            <ul style="margin-left: 2%;">
                <li>The data you entered not in correct pattern.</li>
                <li>You are already registered.</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">OK</button>
        </div>
    </div>
</ng-template>