button{
   border-radius: 2em;
   padding: 0.3em;
    padding-left: 1em; 
    padding-right: 1em; 
    border: 1px solid #b4272d;font-size: 1vmax;
    background-color: white !important;

    span{
        color:#b4272d;
        font-weight: bold;
    }
  
}
p,h6{
    color:#b4272d; 
}
small{
    color: #68161ad5;
}
.card{
   max-width: 540px ;
    border:none
}

.ATYFContain{
    border:1px solid rgba(182, 177, 177, 0.357);
    border-radius: .4em; 
}

button:hover{

    border-radius: 2em;
    padding: 0.3em;
     padding-left: 1em; 
     padding-right: 1em; 
     border: 2px solid #b4272d;font-size: 1vmax;
     background-color: #b4272d !important;
 
     span{
         color: white;
         font-weight: bold;
     } 
}