<div class="ATYFContain">
  <div class="card" style="width: 100%; height: auto; border:none"
   [ngClass]="{'en': selectedLang==='en', 'ar': selectedLang=== 'ar'}">
    <h4 class="cardH4" >
     {{'Add to your feed' | translate }}
    </h4>
  </div>
  <div class="card " *ngFor="let item of (usersData| slice: -3) "
    style="border-bottom: 1px solid rgba(65, 6, 6, 0.055)">
    <div class="row g-0">
      <div class="col-md-4 m-1" style=" padding-right: 0px;">
        <img class="card-img-top" src={{item.avatar}} alt="Card image" />
      </div>
      <div class="col-md-7" style="margin: 0px;padding: 0px;">
        <div class="card-body pb-0 LineHeight" style="padding-left: 0px;padding-right:2px; text-align: center;">
          <a href="#" routerLink="/profile/{{item.id}}">
            <h6 class="card-title m-0 nameH6">{{item.firstName}}</h6>
            <p class="card-text mb-1">
              <small class="jobSmall"> {{item.jobTitle}} </small>
            </p>
          </a>
          <button data-control-name="sidebar_follow_actor_follow_toggle" aria-pressed="false" aria-label="Follow"
            id="ember135"
            class="follow ember-view feed-follows-module-recommendation__follow-btn artdeco-button artdeco-button--secondary artdeco-button--2 artdeco-button--muted"
            (click)="sendRequest(item)">
            <span aria-hidden="true"><i class="fas fa-plus"></i> {{'Connect' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 7px; align-content: center;" [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
    <a [routerLink]="['/FullNetwork/Network']" style="color: brown; margin-left: 20px;">
      {{'See More' | translate }}
    </a>
  </div>
</div>