

<div class="card" style="width: 100%; height: auto; border:none ">
    <h4 style=" padding: 0.9em; font-size: 1.3vmax">
      Add your feed
    </h4>
  </div>
  <div class="card  " style="max-width: 540px ; border:none">
    <div class="row g-0">

      <div class="col-md-4 m-1" style=" padding-right: 0px;">
        <img class="card-img-top" src="../../../../assets/2.png"alt="Card image" style="border-radius: 50% ; padding-right: 0px; width: 90%;"/>
      </div>

      <div class="col-md-7" style="margin: 0px;padding: 0px;">
        <div class="card-body pb-0"style="padding-left: 0px;padding-right:2px; text-align: center;" >
          <h6 class="card-title m-0" style="font-size: 1vmax"> EISAC Automation</h6>
          <p class="card-text"style="font-size: 1vmax">  <small>
            EISAC Automation Egypt
          </small> </p>

            <button data-control-name="sidebar_follow_actor_follow_toggle" aria-pressed="false" aria-label="Follow"
            id="ember135"style="border-radius: 2em;padding: 0.3em; padding-left: 1em; 
              padding-right: 1em; border: 1px solid rgba(128, 128, 128, 0.356);font-size: 1vmax"
            class="follow ember-view feed-follows-module-recommendation__follow-btn artdeco-button artdeco-button--secondary artdeco-button--2 artdeco-button--muted"
          ><span aria-hidden="true">Follow</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card " style="max-width: 540px ; border:none">
    <div class="row g-0">

      <div class="col-md-4 m-1" style=" padding-right: 0px;">
        <img class="card-img-top" src="../../../../assets/2.png"alt="Card image" style="border-radius: 50% ; padding-right: 0px; width: 90%;"/>
      </div>

      <div class="col-md-7" style="margin: 0px;padding: 0px;">
        <div class="card-body pb-0"style="padding-left: 0px;padding-right:5px; text-align: center;" >
          <h6 class="card-title m-0" style="font-size: 1vmax"> EISAC Automation</h6>
          <p class="card-text"style="font-size: 1vmax">  <small>
            EISAC Automation Egypt
          </small> </p>

            <button data-control-name="sidebar_follow_actor_follow_toggle" aria-pressed="false" aria-label="Follow"
            id="ember135"style="border-radius: 2em;padding: 0.3em; padding-left: 1em; 
              padding-right: 1em; border: 1px solid rgba(128, 128, 128, 0.356);font-size: 1vmax"
            class="follow ember-view feed-follows-module-recommendation__follow-btn artdeco-button artdeco-button--secondary artdeco-button--2 artdeco-button--muted"
          ><span aria-hidden="true">Follow</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card " style="max-width: 540px; border:none">
    <div class="row g-0">

      <div class="col-md-4 m-1" style=" padding-right: 0px;">
        <img class="card-img-top" src="../../../../assets/2.png"alt="Card image" style="border-radius: 50% ; padding-right: 0px; width: 90%;"/>
      </div>

      <div class="col-md-7" style="margin: 0px;padding: 0px;">
        <div class="card-body pb-1"style="padding-left: 0px;padding-right:5px; text-align: center;" >
          <h6 class="card-title m-0" style="font-size: 1vmax"> EISAC Automation</h6>
          <p class="card-text"style="font-size: 1vmax">  <small>
            EISAC Automation Egypt
          </small> </p>

            <button data-control-name="sidebar_follow_actor_follow_toggle" aria-pressed="false" aria-label="Follow"
            id="ember135"style="border-radius: 2em;padding: 0.3em; padding-left: 1em; 
              padding-right: 1em; border: 1px solid rgba(128, 128, 128, 0.356);font-size: 1vmax"
            class="follow ember-view feed-follows-module-recommendation__follow-btn artdeco-button artdeco-button--secondary artdeco-button--2 artdeco-button--muted"
          ><span aria-hidden="true">Follow</span></button>
        </div>
      </div>
    </div>
  </div>
