<section class="container sec_container mt-3">
  <div class="container" style="background-color: white">
    <div class="row rowBB">
      <h5 class="pt-3" style="color: #b4272d">17 Connections</h5>
      <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
        <li _ngcontent-exd-c114="" class="list-group-item">
          <div _ngcontent-exd-c114="" class="media">
            <div class="btn-group mr-3">
              <div
                class="btn-group"
                ngbDropdown
                role="group"
                aria-label="Button group with nested dropdown"
              >
                <button
                  class="btn btn-sm mt-4"
                  style="margin-left: 3em"
                  ngbDropdownToggle
                >
                  Sort By : <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button ngbDropdownItem>Recently</button>
                  <button ngbDropdownItem>First Name</button>
                  <button ngbDropdownItem>Last Name</button>
                </div>
              </div>
            </div>
            <div>
              <input
                class="form-control mt-4 searchField"
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="width: 20erm"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <div class="row rowBB">
        <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
          <li _ngcontent-exd-c114="" class="list-group-item">
            <div _ngcontent-exd-c114="" class="media">
              <img
                _ngcontent-exd-c114=""
                src="../../../../assets/fiver.jpg"
                alt=""
                width="70px"
                class="mr-3"
                style="border-radius: 50%"
              />
              <div _ngcontent-exd-c114="" class="media-body">
                <h6 _ngcontent-exd-c114="" class="mt-2 mb-1 UserName">
                  <a
                    _ngcontent-exd-c114=""
                    ng-reflect-router-link="/Group/group-profile"
                    href="/Group/group-profile"
                    >User Name
                  </a>
                </h6>
                <small _ngcontent-exd-c114="" class="text-muted">
                  <span _ngcontent-exd-c114=""
                    >Software Quality Engineer at Softxpert</span
                  >
                  <br />Connected 4 days ago</small
                >
              </div>

              <div class="btn-group mr-3">
                <button
                  type="button"
                  class="btn btn-outline-primary messageBtn btn-sm mt-4"
                >
                  Message
                </button>
                <div
                  class="btn-group"
                  ngbDropdown
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button class="btn btn-sm mt-4" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h dots"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row rowBB">
        <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
          <li _ngcontent-exd-c114="" class="list-group-item">
            <div _ngcontent-exd-c114="" class="media">
              <img
                _ngcontent-exd-c114=""
                src="../../../../assets/fiver.jpg"
                alt=""
                width="70px"
                class="mr-3"
                style="border-radius: 50%"
              />
              <div _ngcontent-exd-c114="" class="media-body">
                <h6 _ngcontent-exd-c114="" class="mt-2 mb-1 UserName">
                  <a
                    _ngcontent-exd-c114=""
                    ng-reflect-router-link="/Group/group-profile"
                    href="/Group/group-profile"
                    >User Name
                  </a>
                </h6>
                <small _ngcontent-exd-c114="" class="text-muted">
                  <span _ngcontent-exd-c114=""
                    >Software Quality Engineer at Softxpert</span
                  >
                  <br />Connected 4 days ago</small
                >
              </div>

              <div class="btn-group mr-3">
                <button
                  type="button"
                  class="btn messageBtn btn-outline-primary btn-sm mt-4"
                >
                  Message
                </button>
                <div
                  class="btn-group"
                  ngbDropdown
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button class="btn btn-sm mt-4" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h dots"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row rowBB">
        <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
          <li _ngcontent-exd-c114="" class="list-group-item">
            <div _ngcontent-exd-c114="" class="media">
              <img
                _ngcontent-exd-c114=""
                src="../../../../assets/fiver.jpg"
                alt=""
                width="70px"
                class="mr-3"
                style="border-radius: 50%"
              />
              <div _ngcontent-exd-c114="" class="media-body">
                <h6 _ngcontent-exd-c114="" class="mt-2 mb-1 UserName">
                  <a
                    _ngcontent-exd-c114=""
                    ng-reflect-router-link="/Group/group-profile"
                    href="/Group/group-profile"
                    >User Name
                  </a>
                </h6>
                <small _ngcontent-exd-c114="" class="text-muted">
                  <span _ngcontent-exd-c114=""
                    >Software Quality Engineer at Softxpert</span
                  >
                  <br />Connected 4 days ago</small
                >
              </div>

              <div class="btn-group mr-3">
                <button
                  type="button"
                  class="btn messageBtn btn-outline-primary btn-sm mt-4"
                >
                  Message
                </button>
                <div
                  class="btn-group"
                  ngbDropdown
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button class="btn btn-sm mt-4" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h dots"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row rowBB">
        <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
          <li _ngcontent-exd-c114="" class="list-group-item">
            <div _ngcontent-exd-c114="" class="media">
              <img
                _ngcontent-exd-c114=""
                src="../../../../assets/fiver.jpg"
                alt=""
                width="70px"
                class="mr-3"
                style="border-radius: 50%"
              />
              <div _ngcontent-exd-c114="" class="media-body">
                <h6 _ngcontent-exd-c114="" class="mt-2 mb-1">
                  <a
                    _ngcontent-exd-c114=""
                    ng-reflect-router-link="/Group/group-profile"
                    href="/Group/group-profile"
                    >User Name
                  </a>
                </h6>
                <small _ngcontent-exd-c114="" class="text-muted">
                  <span _ngcontent-exd-c114=""
                    >Software Quality Engineer at Softxpert</span
                  >
                  <br />Connected 4 days ago</small
                >
              </div>

              <div class="btn-group mr-3">
                <button
                  type="button"
                  class="btn messageBtn btn-outline-primary btn-sm mt-4"
                >
                  Message
                </button>
                <div
                  class="btn-group"
                  ngbDropdown
                  role="group"
                  aria-label="Button group with nested dropdown"
                >
                  <button class="btn btn-sm mt-4" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h dots"></i>
                  </button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem>
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
