<div class="container-fluid savedJobMain">
    <div class="container-xl">
        <div class="row savedJobContainer">
            <div class="col-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-10 mainContainer">
                <div *ngIf="appliedJobs.length==0" class="p-4"
                    style="background-color: white; border-radius: 15px; display: block; margin: auto;">
                    <img class="mt-4 mb-4"
                        src="https://firebasestorage.googleapis.com/v0/b/iti-community.appspot.com/o/189-1896954_jobs-clipart-primary-data-clip-art-sources-of-data.png?alt=media&token=0de400d9-aa32-4f28-8763-caf8aa20178c"
                        alt="" style="width:50%; display: block; margin: auto;">
                    <div style="display: block; margin: auto; width: fit-content; font-size: 1.5rem; color: gray;">
                        <div>Sorry you have applied jobs ...</div>
                        <div class="btn btn-sm p-2 btn-primary "
                            style="background-color: #b4272d; color: white; font-size: 1rem;"
                            routerLink="/jobs/specificjob">
                            explore new Jobs</div>
                    </div>
                </div>
                <div class="list-group mySavedListItems" *ngIf="appliedJobs.length!==0">
                    <div href="#" class="list-group-item disabled mySavedItemsHeader">
                        <h3>My Applied Jobs</h3>
                    </div>
                    <div class="list-group-item mySavedItem btn" *ngFor="let item of appliedJobs">
                        <div class="mySavedItemContent">
                            <img [src]="item.companyLogoAvatar" class="logoImg">
                        </div>
                        <div class="mySavedItemContent" [routerLink]="['/jobs/specificjob']"
                            [queryParams]="{id: item.id}">
                            <div class="list-group-item-heading jobTitleLink">{{item.position.en}}</div>
                            <div class="list-group-item-text companyName">{{item.company.en}}</div>
                            <div class="list-group-item-text jobLocation">{{item.location.en}}</div>
                            <div class="list-group-item-text activelyRecruiting" *ngIf="item.closingDate == null">
                                <i class="fas fa-briefcase"></i> Actively recruiting
                            </div>
                            <div class="list-group-item-text">
                                <span class="jobPostTime">Posted In {{item.postedDate.toDate()|date}} </span>
                            </div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <div ngbDropdownItem>
                                    <i class="fas fa-bookmark"></i> Unsave
                                </div>
                                <a ngbDropdownItem ngxClipboard
                                    cbContent="http://localhost:4200/jobs/specificjob?id={{item.id}}">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem (click)="openModal(item.id)">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<app-main-footer></app-main-footer>


<ng-template #friends let-modal>
    <div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark"
                (click)="sendJobinMsg(reciId); modal.close('Close click')">
                OK
            </button>
        </div>
    </div>
</ng-template>