<div class="container">
    <nav>
        <div id="logo" class="col-2">
            <div class="text-primary fw-bold">
                Linked
            </div>
            <div>

                <i class="fab fa-linkedin  text-primary"></i>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-light text-muted dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Jobs
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div id="seach" style="display: flex; justify-content: space-between; align-items: center;">
            <input class="form-control mr-sm-2 ml-1 border-1-start" type="text"
                placeholder="Search Job Titles or Companies">
            <input class="form-control mr-sm-2 mx-2 " type="text" value="Cairo,Egypt">
            <button type="button" class="btn-close ml-1 mx-2" aria-label="Close"></button>
            <a href="#" class="mx-2"><i class="fas fa-search fs-5 text-secondary ml-1"></i></a>
        </div>
        <div class="login col-2.4">
            <button type="button" class="btn btn-light text-muted">Join now</button>
            <button type="button" class="btn btn-outline-primary rounded-pill">Sign in</button>

        </div>
    </nav>

    <header>

        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Most Relevant
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Any Time
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                25 mi (40 km)
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-light border-secondary text-secondary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                Company
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-light border-secondary text-secondary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                Location
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-light border-secondary text-secondary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                Job Type
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
        <div class="btn-group ">
            <button type="button" class="btn rounded-pill btn-light border-secondary text-secondary dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                More Filters
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
        </div>
    </header>
    <div class="content position-relative mt-5">
        <div class="news col-6">
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img4.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img3.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>

        </div>
        <div class="details position-sticky top-0 end-0 col-6 " >
            <div class="element mb-2">
                <div class="img col-2 rounded-circle mr-2">
                    <img src="img5.jpg" class="rounded-circle" alt="">
                </div>
                <div class="ml-2 info">
                   <a href="#" class="text-decoration-none text-dark" ><h4>Office Administrative Assistant</h4></a>
                   <a href="#" class="text-decoration-none text-dark" ><p>Target Recruitment & HR Solutions</p></a>
                   <a href="#" class="text-decoration-none" > <div class="text-secondary" ><span>cairo,egypt</span></div> </a>
                    <a href="#" class="text-decoration-none"> <div> <span class="text-success" > 7 Hours ago </span> <span class="text-primary" > Apply Now </span> </div></a>
                </div>
            </div>
            <p>
                We explore whether HR is an Art or a Science.

Whether you have a large or small business, HR is a component which everyone needs to consider.

A core part of building success, HR policies need to be flexible, and to evolve and grow to take into account the needs of the company and relevant legislation.

However, HR is a grey area; one which combines many different approaches so it’s hardly surprising there’s much ambiguity over how it is perceived. We ask whether HR is an art or a science?


            </p>
        </div>
    </div>

</div>