<section class="container sec_container mt-3" style="background-color: white">
  <div class="container" style="background-color: white" [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
    <div class="row rowBB">
      <h5 class="pt-3" style="color: #b4272d">
        {{sentRequests.length}} {{'Sent Requests' | translate }} </h5>
    </div>
    <div>
      <div *ngFor="let item of sentRequests  | paginate : {
          id:'listingclients',
          itemsPerPage:4,
          currentPage: page,
          totalItems: total
        }" 
        class="row rowBB">
        <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
          <li _ngcontent-exd-c114="" class="list-group-item">
            <div _ngcontent-exd-c114="" class="media">
              <img _ngcontent-exd-c114="" src={{item.avatar}} alt="" width="70px" 
              class="mr-3"
                style="border-radius: 50% ; width:70px;height: 70px;" />
              <div class="media-body">
                <h6 class="mt-2 mb-1 UserName">
                  <a routerLink="/profile/{{item.id}}">
                    {{item.firstName}} {{item.lastName}}
                  </a>
                </h6>
                <small class="text-muted">
                  <span>{{item.jobTitle}}</span>
                 </small>
              </div>
              <!--
 <button type="button" class="btn btn-outline-primary messageBtn btn-sm mt-4" > 
                  Message 
                </button>
                -->

                <button type="button" class="btn btn-outline-primary messageBtn btn-sm mt-4"
                (click)="DeleteFriendRequest(item)">
                 <i class="fas fa-trash-alt">  {{'Delete' | translate }}</i>
               </button>
              <!-- <div class="btn-group mr-3">
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <button class="btn btn-sm mt-4 " ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h dots"></i>
                  </button>
                  <div class="dropdown-menu deleteMenue" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="DeleteFriendRequest(item)">
                      <i class="fas fa-trash-alt"> Delete </i>
                    </button>
                  </div>
                </div>
              </div> -->
            </div>
          </li>
        </ul>
      </div>
      <div class="clearfix">
        <pagination-controls
          class="pagination"
          id="listingclients"
          (pageChange)="page = $event"
          maxSize="10"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="Previous"
          nextLabel="Next"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</section>