<div class="W-100%"><br></div>
<div class="media border p-3 postcontainer">
    <div class="media-body" style="  align-items: center;">
        <div class="mb-3">
            <h5 style=" float: left;">
                Job searches
            </h5>
            <div class="btn-group" style=" float: right;">
                <button type="button" name="" id="" class="btn " btn-lg btn-block>
                    <i class="fas fa-chevron-circle-left"></i></button>
                <button type="button" name="" id="" class="btn " btn-lg btn-block>
                    <i class="fas fa-chevron-circle-right"></i></button>
            </div>
        </div>
        <div class="W-100%"><br></div>
        <div *ngIf="searches.length == 0" style="display: block; margin: auto;">
            <img src="https://firebasestorage.googleapis.com/v0/b/iti-community.appspot.com/o/Find-a-Job.png?alt=media&token=ac0c2c8d-3b90-47bb-896a-fe0356a5dd74"
                width="50%" />
        </div>
        <div style="display: flex;" *ngIf="searches.length > 0">
            <button type="button" class="btn kk" *ngFor="let item of searches">
                <div style="flex-grow: 8;" [routerLink]="['/jobs/specificjob']" [queryParams]="{company: item.data.company,
                position: item.data.position,
                location: item.data.location}">
                    <h6><span>Position : </span>{{item.data.position || "unspecified"}}</h6>
                    <h6><span>Company : </span>{{item.data.company || "unspecified"}}</h6>
                    <h6><span>Location : </span>{{item.data.location || "unspecified"}}</h6>
                </div>
                <div class="btn" style="flex-grow: 1;"><i class="fas fa-times-circle"
                        (click)="deleteSaved(item.id)"></i>
                </div>
            </button>
        </div>
        <div class="W-100%"><br></div>
    </div>
</div>