.postcontainer{
  border-radius: 1em;
  box-shadow:1px 1px 10px rgba(128, 128, 128, 0.452);
  background-color: white;
}
.kk:hover {
  background-color: white;
  color: darkgray;
}

.kk {
  color: black;
  padding: 5px;
 width:300px;
 text-align: left;
 margin-left: 20px;
 margin-bottom: 10px;
}
.appliedJobCard{
  border: 1px solid lightgray;
  padding: 5px;
  margin: 5px;
  border-radius: 25PX;
  background-color: white;
}
searchedjobs{
  border-radius: 1em;
  box-shadow:1px 1px 10px rgba(128, 128, 128, 0.452);
}