<div class="W-100%"><br></div>
<div class="media border p-3 postcontainer">
    <div class="media-body" style="  align-items: center;">
        <div class="mb-3">
            <h5 style=" float: left;">
                Job searches
            </h5>
            <div class="btn-group" style=" float: right;">
                <button type="button" name="" id="" class="btn " btn-lg btn-block>
                    <i class="fas fa-chevron-circle-left"></i></button>
                <button type="button" name="" id="" class="btn " btn-lg btn-block>
                    <i class="fas fa-chevron-circle-right"></i></button>
            </div>
        </div>
        <div class="W-100%"><br></div>
        <button type="button" class="btn btn-outline-secondary kk">
            <h6>
                engineer-web development
            </h6>
            Alert on · Qina, Egypt
        </button>
        <button type="button" class="btn btn-outline-secondary kk">
            <h6>
                engineer-web development
            </h6>
            Alert on · Qina, Egypt
        </button>
        <button type="button" class="btn btn-outline-secondary kk">
            <h6>
                engineer-web development
            </h6>
            Alert on · Qina, Egypt
        </button>
        <button type="button" class="btn btn-outline-secondary kk">
            <h6>
                engineer-web development
            </h6>
            Alert on · Qina, Egypt
        </button>
        <button type="button" class="btn btn-outline-secondary kk">
            <h6>
                engineer-web development
            </h6>
            Alert on · Qina, Egypt
        </button>
        <div class="W-100%"><br></div>
    </div>
</div>