// .postcontainer{
//     border-radius: 1em;
//     box-shadow:1px 1px 10px rgba(128, 128, 128, 0.452);
//     background-color: white;
//   }
//   .kk:hover {
//     background-color: white;
//     color: darkgray;
// }

// .kk {
//     color: black;
//     padding: 1em;
// }
.carousel-control-next {
    right: -10%;
  }
  .carousel-control-prev {
    left: -10%;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-color: black;
  }
  