<div class="container-fluid savedJobMain">
    <div class="container-xl">
        <div class="row savedJobContainer">
            <div class="col-lg-3 mainContainer">
                <div class="list-group mySavedItems">
                    <a href="#" class="list-group-item disabled mySavedItemsHeader">
                        <i class="fas fa-bookmark"></i> My Items
                    </a>
                    <div class="list-group-item list-group-item-action">
                        My Jobs
                        <span class="noOfItems">{{favoriteArray.length}}</span>
                    </div>
<!--                     <a href="#" class="list-group-item list-group-item-action">
                        My Learning
                        <span class="noOfItems">12</span>
                    </a> -->
                    <a href="#" class="list-group-item list-group-item-action">
                        Saved Posts
                        <span class="noOfItems">20</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 mainContainer ">
                <div *ngIf="favoriteArray.length==0">
                    <span> sorry you have no saved jobs </span>
                    <div class="btn btn-sm p-0 btn-link" (click)="toRecommended()" >explore new Jobs</div>
                    <img src="../../../../assets/images.png" alt="">
                </div>
                <div class="list-group mySavedListItems" *ngIf="favoriteArray.length!==0">
                    <div href="#" class="list-group-item disabled mySavedItemsHeader">
                        <h3>My Jobs</h3>
                    </div>

<!--                     //////////////////////////////////////////
 -->                    <div class="list-group-item mySavedItem btn"  *ngFor="let item of favoriteArray"  >
                        <div class="mySavedItemContent">
                            <!--   <img src="{{./Saved Jobs Page/lg.png}}" class="logoImg"> -->
                            <img [src]="item.data.companyLogoAvatar" class="logoImg">
                        </div>
                        <div class="mySavedItemContent " (click)="details(item.id)">
                            <div class="list-group-item-heading jobTitleLink">{{item.data.position.en}}</div>
                            <div class="list-group-item-text companyName">{{item.data.company.en}}</div>
                            <div class="list-group-item-text jobLocation">{{item.data.location.en}}</div>
                            <div class="list-group-item-text activelyRecruiting" *ngIf="item.data.closingDate!=''">
                                <i class="fas fa-briefcase"></i> Actively recruiting
                            </div>
                            <div class="list-group-item-text">
                                <span class="jobPostTime">Posted In {{item.data.postedDate.toDate()|date}} </span>
                               <!--  <span class="applyNow"><i class="fab fa-linkedin"></i> Apply now</span> -->
                            </div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <div ngbDropdownItem (click)="unsave(item.id)" >
                                    <i class="fas fa-bookmark" ></i> Unsave
                                </div>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>
<!--                     //////////////////////////////
 -->
            </div>
        </div>
    </div>
</div>