<div class="container-fluid savedJobMain">
    <div class="container-xl">
        <div class="row savedJobContainer">
            <div class="col-lg-3 mainContainer">
                <div class="list-group mySavedItems">
                    <a href="#" class="list-group-item disabled mySavedItemsHeader">
                        <i class="fas fa-bookmark"></i> My Items
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        My Jobs
                        <span class="noOfItems">5</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        My Learning
                        <span class="noOfItems">12</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Saved Posts
                        <span class="noOfItems">20</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mainContainer">
                <div class="list-group mySavedListItems">
                    <div href="#" class="list-group-item disabled mySavedItemsHeader">
                        <h3>My Jobs</h3>
                    </div>
                    <div class="list-group-item mySavedItem">
                        <div class="mySavedItemContent">
                            <!--   <img src="{{./Saved Jobs Page/lg.png}}" class="logoImg"> -->
                            <img src="../../../../assets/1.jpg" class="logoImg">
                        </div>
                        <div class="mySavedItemContent">
                            <a href="" class="list-group-item-heading jobTitleLink">Frontend Web Developer</a>
                            <div class="list-group-item-text companyName">LG</div>
                            <div class="list-group-item-text jobLocation">Egypt</div>
                            <div class="list-group-item-text activelyRecruiting">
                                <i class="fas fa-briefcase"></i> Actively recruiting
                            </div>
                            <div class="list-group-item-text">
                                <span class="jobPostTime">Posted 1w ago •</span>
                                <span class="applyNow"><i class="fab fa-linkedin"></i> Apply now</span>
                            </div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-bookmark"></i> Unsave
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>
                    <div href="#" class="list-group-item mySavedItem">
                        <div class="mySavedItemContent">
                            <img src="../../../../assets/1.jpg" class="logoImg">
                        </div>
                        <div class="mySavedItemContent">
                            <a href="" class="list-group-item-heading jobTitleLink">Backend Web Developer</a>
                            <div class="list-group-item-text companyName">Samsung</div>
                            <div class="list-group-item-text jobLocation">Egypt</div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-bookmark"></i> Unsave
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>

                    <div href="#" class="list-group-item mySavedItem">
                        <div class="mySavedItemContent">
                            <img src="../../../../assets/1.jpg" class="logoImg">
                        </div>
                        <div class="mySavedItemContent">
                            <a href="" class="list-group-item-heading jobTitleLink">Full Stack Web Developer</a>
                            <div class="list-group-item-text companyName">IBM</div>
                            <div class="list-group-item-text jobLocation">Egypt</div>
                            <div class="list-group-item-text activelyRecruiting">
                                <i class="fas fa-briefcase"></i> Actively recruiting
                            </div>
                            <div class="list-group-item-text">
                                <span class="jobPostTime">Posted 3mon ago •</span>
                                <span class="applyNow"><i class="fab fa-linkedin"></i> Apply now</span>
                            </div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-bookmark"></i> Unsave
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>

                    <div href="#" class="list-group-item mySavedItem">
                        <div class="mySavedItemContent">
                            <img src="../../../../assets/1.jpg" class="logoImg">
                        </div>
                        <div class="mySavedItemContent">
                            <a href="" class="list-group-item-heading jobTitleLink">Full Stack Web Developer</a>
                            <div class="list-group-item-text companyName">Vodafone</div>
                            <div class="list-group-item-text jobLocation">Egypt</div>
                            <div class="list-group-item-text activelyRecruiting">
                                <i class="fas fa-briefcase"></i> Actively recruiting
                            </div>
                            <div class="list-group-item-text">
                                <span class="jobPostTime">Posted 3mon ago •</span>
                                <span class="applyNow"><i class="fab fa-linkedin"></i> Apply now</span>
                            </div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-bookmark"></i> Unsave
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>

                    <div href="#" class="list-group-item mySavedItem">
                        <div class="mySavedItemContent">
                            <img src="../../../../assets/1.jpg" class="logoImg">
                        </div>
                        <div class="mySavedItemContent">
                            <a href="" class="list-group-item-heading jobTitleLink">Full Stack Web Developer</a>
                            <div class="list-group-item-text companyName">Orange</div>
                            <div class="list-group-item-text jobLocation">Egypt</div>
                            <div class="list-group-item-text activelyRecruiting">
                                <i class="fas fa-briefcase"></i> Actively recruiting
                            </div>
                            <div class="list-group-item-text">
                                <span class="jobPostTime">Posted 3mon ago •</span>
                                <span class="applyNow"><i class="fab fa-linkedin"></i> Apply now</span>
                            </div>
                        </div>
                        <div ngbDropdown class="mySavedItemContent btnMoreDetails" placement="bottom-right">
                            <a ngbDropdownToggle type="text" class="btnMoreDetailsDots" id="dropdownMenuButton"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-bookmark"></i> Unsave
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-link"></i> CopyLink
                                </a>
                                <a ngbDropdownItem href="#">
                                    <i class="fas fa-envelope"></i> Send a message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mainContainer">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="list-group-item itiBranchesHeader" data-toggle="collapse" href="#collapse1">
                                    <i class="fas fa-university"></i> ITI Branches
                                </a>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <ul class="list-group itiBranchesCollapse">
                                <a href="#" class="list-group-item list-group-item-action">
                                    Smart Villege
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Assuit
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Aswan
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Sohag
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Qena
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Menofia
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Mansoura
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Alexendria
                                    <span class="branchLocation">
                                        <i class="fas fa-location-arrow"></i>
                                    </span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="list-group-item itiBranchesHeader" data-toggle="collapse" href="#collapse2">
                                    <i class="fas fa-user-graduate"></i> ITI Tracks
                                </a>
                            </div>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <ul class="list-group itiBranchesCollapse">
                                <a href="#" class="list-group-item list-group-item-action">
                                    Software Development Fundamentals
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Full Stack Web Development Using .Net
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Frontend & Cross-Platform Mob Developer
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Embedded Systems
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Big Data Specialist
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Business Data Intelligence
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Fullstack Web Development Using Python
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    Social Media Marketing
                                    <span class="branchLocation">
                                        <i class="fas fa-laptop-code"></i>
                                    </span>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>