<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../../../assets/iti-logo.png" width="30" class="d-inline-block align-top" alt="">
        </a>
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
        <button class="navbar-toggler" type="button" (click)='isMenuCollapsed = !isMenuCollapsed' data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" [ngbCollapse]="isMenuCollapsed"
            id="navbarSupportedContent">
            <ul class="navbar-nav text-lg-center custom-nav">
                <li class="nav-item">

                    <a class="nav-link visible-dot" [routerLink]="['Home']" routerLinkActive="active"
                        (click)="isMenuCollapsed = true">
                        <i class="fas fa-home d-lg-block"></i>
                        <div class="container__indicator">
                            <i class="fas fa-dot-circle"></i>
                        </div>
                        <span class="d-lg-block">{{'Home' | translate}}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Group']" routerLinkActive="active"
                        (click)="isMenuCollapsed = true"><i class="fas fa-users d-lg-block"></i>{{'Groups' | translate}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['FullNetwork']" routerLinkActive="active"
                        (click)="isMenuCollapsed = true"><i class="fas fa-user-friends"></i><span
                            class="d-lg-block">{{'Network' | translate}}</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link" [routerLink]="['/jobs/recomendedJobs']" routerLinkActive="router-link-active"
                        (click)="isMenuCollapsed = true"><i class="fas fa-archive d-lg-block"></i>{{'Jobs' | translate}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/Messages']" routerLinkActive="active"
                        (click)="isMenuCollapsed = true">
                        <i class="fas fa-comment-dots d-lg-block"></i>
                        {{'Messaging' | translate}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['Notification']" routerLinkActive="router-link-active"
                        (click)="isMenuCollapsed = true"><i class="fas fa-bell d-lg-block"></i>{{'Notifications' |
                        translate}}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                    <a class="nav-link" ngbDropdownToggle id="navbarDropdown3" role="button">
                        <img [src]="avatar" width="30" height="30" class="d-lg-block align-top" alt="">
                        {{'Me' | translate}}
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu pt-0">
                        <a class="dropdown-item text-center py-3" routerLink="/profile/{{uid}}"
                            routerLinkActive="router-link-active" (click)="isMenuCollapsed = true">
                            <img [src]="avatar" class="mx-auto" width="100" alt="" srcset="">
                            <h3 class="">{{firstName}} {{lastName}}</h3>
                            <h6 class="">{{jobTitle}}</h6>
                        </a>
                        <div class="dropdown-divider mt-0"></div>
                        <h6 class="ml-3">{{'Account' | translate}}</h6>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">{{'Settings' | translate}}</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">{{'Help' | translate}}</a>
                        <!-- <span class="form-inline">
                            <label class="pl-4 pr-2">Languages</label>
                            <select class="form-control" #language (change)="translateSite(language.value)">
                                <option *ngFor="let lang of translateService.getLangs()" [value]="lang"
                                    [selected]="lang.currentLang">
                                    {{lang}}</option>
                            </select>
                        </span> -->
                        <div class="dropdown-divider"></div>
                        <h6 class="ml-3">{{'Languages' | translate}}</h6>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault(); translateSite('en')">English</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault(); translateSite('ar')">العربية</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="ml-3">{{'Manage' | translate}}</h6>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">{{'Posts & Activity' |
                            translate}}</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault()">{{'Posting Account' |
                            translate}}</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault();signOut();">{{'Sign Out' |
                            translate}}</a>

                    </div>
                </li>

            </ul>

            <a class="toggle-btn btn" id="sidebarCollapse" role="button" (click)="toggleSideBar()">
                <i class="fas fa-th d-lg-block"></i>
                <span>{{'Work' | translate}}</span>
            </a>

        </div>

    </div>
</nav>
<!-- Sidebar  -->
<nav id="sidebar" [ngClass]="{'active': toggleStatus}">
    <div id="dismiss" (click)="toggleSideBar()">
        <i class="fas fa-arrow-right"></i>
    </div>

    <div class="sidebar-body">
        <div class="card">
            <div class="card-header">
                <h4>Visit Our Sites</h4>
            </div>
            <div class="card-body text-center">
                <a href="#" class="btn">
                    <i class="fab fa-leanpub"></i>
                    <div>Learn</div>
                </a>
                <a href="#" class="btn">
                    <i class="fas fa-briefcase"></i>
                    <div>Jobs</div>
                </a>
                <a href="#" class="btn">
                    <i class="fab fa-leanpub"></i>
                    <div>Learn</div>
                </a>
                <a href="#" class="btn">
                    <i class="fas fa-briefcase"></i>
                    <div>Jobs</div>
                </a>
                <a href="#" class="btn">
                    <i class="fab fa-leanpub"></i>
                    <div>Learn</div>
                </a>
                <a href="#" class="btn">
                    <i class="fas fa-briefcase"></i>
                    <div>Jobs</div>
                </a>
                <a href="#" class="btn">
                    <i class="fab fa-leanpub"></i>
                    <div>Learn</div>
                </a>
                <a href="#" class="btn">
                    <i class="fas fa-briefcase"></i>
                    <div>Jobs</div>
                </a>
                <a href="#" class="btn">
                    <i class="fab fa-leanpub"></i>
                    <div>Learn</div>
                </a>
                <a href="#" class="btn">
                    <i class="fas fa-briefcase"></i>
                    <div>Jobs</div>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="overlay" [ngClass]="{'active': toggleStatus}" (click)="toggleSideBar()"></div>