<div class="container-fluid footerSavedJobs">
    <div class="container-xl footerSavedJobsContainer">
        <hr class="footerSeparatorSavedJobs" />
        <div class="row">
            <div class="col-lg-5 col-md-9 col-sm-12">
                <ngx-twitter-timeline
                    [data]="{sourceType: 'url', url: 'https://twitter.com/itichannel2?ref_src=twsrc%5Etfw'}"
                    [opts]="{tweetLimit: 1}"></ngx-twitter-timeline>
            </div>
            <div class="col-lg-3 col-md-9 col-sm-12 contactusSavedJobs">
                <h3>
                    Contact us
                </h3>
                <div>
                    <i class="fas fa-map-marked-alt"></i> <span>28 Km by Cairo / Alexandria Desert Road, 6 October,
                        B148, Egypt</span>
                </div>
                <div>
                    <i class="fas fa-phone-alt"></i> <span>(+202) 353-55656</span>
                </div>
                <div>
                    <i class="fas fa-envelope"></i> <span>ITIinfo@iti.gov.eg</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-12 followusSavedJobs">
                <h3>
                    Follow us
                </h3>
                <div class="socialmediaLinks">
                    <div class="socialmediaLink">
                        <a href=""> <i class="fab fa-facebook-f"></i> </a>
                    </div>
                    <div class="socialmediaLink">
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="socialmediaLink">
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>