.mainContainer {
  margin-bottom: 5%;
}

.savedJobMain,
.footerSavedJobs {
  background-color: #e8e8e8;
  width: 100%;
}

.savedJobContainer {
  margin: auto;
  padding-top: 2%;
}

.mySavedItems,
.mySavedItemsMain {
  border-radius: 15px;
}

.mySavedListItems {
  border-radius: 15px 15px 0px 0px;
}

.mySavedItemsHeader h3 {
  font-weight: 350;
  color: black;
  font-size: 1.5rem;
}

.noOfItems,
.branchLocation {
  float: right;
}

.mySavedItem {
  display: flex;
  flex-direction: row;
}

.newNotification {
  background-color: rgb(230 240 253);
}

.newNotification:hover {
  background-color: rgb(209 228 253);
}

.mySavedItemContent {
  margin: 0px 8px;
}

.profileImg {
  width: 80px;
  height: 80px;
}

.notificationTextContent * {
  margin-bottom: 10px;
}

.notificationTextContent div a {
  font-weight: 700;
  color: #94151b;
}

.notificationTextContent a:hover {
  color: #b4272d;
}

.notificationBtn {
  background-color: white;
  border-radius: 25px;
  border-color: #b4272d;
  color: #b4272d;
  font-weight: 700;
  padding: 5px 10px;
  transition: all 1s;
}

.notificationBtn:hover {
  background-color: rgb(236, 233, 233);
}

.jobTitleLink {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.jobTitleLink:hover {
  color: #b4272d;
}

.companyName,
.jobLocation {
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

.jobLocation {
  font-size: 0.9rem;
  font-weight: 250;
}

.activelyRecruiting,
.jobPostTime,
.applyNow {
  font-size: 0.85rem;
  font-weight: 200;
  color: rgba(37, 37, 37, 0.89);
}

.activelyRecruiting .fas {
  font-size: 1.1rem;
  color: rgb(0, 94, 0);
}

.applyNow .fab {
  font-size: 1.1rem;
  color: #0a66c2;
}

.postContent {
  border-radius: 5px;
  border: 1px solid rgb(212, 212, 212);
  font-size: 1rem;
  color: rgb(151, 151, 151);
  padding: 5px 10px;
  margin-top: 5px;
}

.btnMoreDetails {
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: auto;
}

.notificationTime {
  font-size: 0.7rem;
  color: rgb(144 142 142);
}

.btnMoreDetailsDots {
  font-size: 1.5rem;
  color: gray;
  border-radius: 50%;
}

.btnMoreDetailsDots:hover {
  background-color: #e4e3e0;
  color: white;
}

.dropdownOption strong {
  padding-left: 5px;
}

.dropdownOption div {
  padding-left: 25px;
  font-size: 0.8rem;
}

.itiBranchesHeader {
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #b4272d;
  margin-bottom: 5px;
}

.itiBranchesHeader:hover {
  color: #94151b;
  text-decoration: none;
}

.itiBranchesHeader,
.itiBranchesCollapse {
  border-radius: 15px !important;
}

.spinnerContainer .spinner-border {
  margin: 3% 50%;
}

@media all and (max-width: 1200px) {
  .linkedinAdv {
    display: none;
  }
}

.dropdown-toggle::after {
  display: none;
}
.noAboutImg p {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color:brown;
}

.noAboutImg img {
  width: 65%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
}