<div class="W-100%"><br /></div>
<div class="media border p-3 postcontainer">
    <div class="media-body" style="  align-items: center;">
        <div class="row">
            <div class="col-10">
                <h4> Recommended for you </h4>
                <!-- <span class="txtt"> Based on your profile and search history </span> -->
            </div>
            <div class="btn text-secondary col-2 navBtns">
                <i class="fas fa-bookmark p-2" routerLink="/jobs/savedjobs"></i>
                <i class="far fa-address-book p-2" routerLink="/jobs/appliedJobs"></i>
            </div>
        </div>
        <div class="W-100%"><br></div>
        <div class="row mb-3 " style="border-bottom: 1px solid lightgray;">
            <div class="col-md-3 mb-3" *ngFor="let item of list" style=" align-items: center;">
                <div class="card" style="width:100%;height: auto; padding: 5px;">
                    <div class="mt-3">
                        <i class="fas fa-bookmark b1 " (click)="saveUnsave(item.id)"
                            style="float: right; padding-right: 1em;"
                            [ngStyle]="{'color':savedJobs.includes(item.id) ?'goldenrod':'black'}"></i>
                        <img class="card-img-top" [src]="item.data.companyLogoAvatar" alt="Card image"
                            style="width:80px;height: 80px; float: left; margin-left: 2px;">
                    </div>
                    <div [routerLink]="['/jobs/specificjob']" [queryParams]="{id: item.id}">
                        <div class="btn " style="color: black;"><strong> {{item.data.position.en}}</strong> </div>
                        <br />
                        <span class="txtt btn"> {{item.data.company.en}}</span> <br />
                        <span class="txtt btn">{{item.data.location.en}}</span>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3" style="align-items: center; text-align: center;">
            <a href="#" style="font-weight: bold; color: #b4272d;">Search for more jobs </a>
        </div>
    </div>
</div>
<div class="W-100% "><br></div>
<div class="W-100% "><br></div>