<div class="media border p-3 mt-4">
  <div class="media-body" style="align-items: center;color: #68161ad5; " [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
    {{'ITI Community Members' | translate }}
    
    <div class="W-100%"><br></div>
    <div *ngIf="usersinCardData !=undefined" class="row">
      <div *ngFor="let item of usersinCardData" class="col-md-6 " style="align-items: center;padding: 8px;">
        <div class="card mb-3 " style="display: flex; flex-direction: column;">
          <div
            style="background: url({{item.avatarCover}}) no-repeat; background-size: cover; height: 70px;width: 100%;border-radius: .6em .6em 0 0 ;">
          </div>
          <img class="card-img-top mb-1" src={{item.avatar}} alt="Card image"
            style="width: 70px;height: 70px; border-radius: 50% ;margin-top: -50px;">
          <div style="text-align: center">
            <a routerLink="/profile/{{item.id}}" style="color: black">
              <strong class="Name">{{item.firstName}}</strong>
            </a>
            <br>
            <span class="Job">{{item.jobTitle}}</span>
            <br>
            <div class="W-100%"><br></div>
            <button style="width: 90px;" type="button" class="btn btn-outline-primary" (click)="sendRequest(item)">
              {{'connect' | translate }}
            </button>
            <br>
            <div class="W-100%"><br></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>