<div class="media border p-3 postcontainer">
  <div class="media-body" style="align-items: center">
    Industry leaders in Egypt you may know
    <a class="seeall" style="float: right;"> See all</a>

    <div class="W-100%"><br></div>
    <div class="row">
      <div class="col-md-3" style="align-items: center;padding: 8px;">
        <div class="card" >
          <div class="W-100%"><br></div>

          <img class="card-img-top mb-1" src="../../../../../assets/n.jpg" alt="Card image" style="width: 60%; border-radius: 50%">
          <div style="text-align: center">
            <a href="#" style="color: black"><strong>Marwa Tag</strong>
            </a>
            <br>
            <span class="txtcolor">Electrical power Engineer at SVU</span>
            <br>
            <div class="W-100%"><br></div>
            <button type="button" class="btn btn-outline-primary" style="border-radius: 1.2em; width: 80%">
              Connect
            </button>
            <br>
            <div class="W-100%"><br></div>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="align-items: center;padding: 8px;">
        <div class="card" >
          <div class="W-100%"><br></div>

          <img class="card-img-top mb-1" src="../../../../../assets/n.jpg" alt="Card image" style="width: 60%; border-radius: 50%">
          <div style="text-align: center">
            <a href="#" style="color: black"><strong>Marwa Tag</strong>
            </a>
            <br>
            <span class="txtcolor">Electrical power Engineer at SVU</span>
            <br>
            <div class="W-100%"><br></div>
            <button type="button" class="btn btn-outline-primary" style="border-radius: 1.2em; width: 80%">
              Connect
            </button>
            <br>
            <div class="W-100%"><br></div>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="align-items: center;padding: 8px;">
        <div class="card" >
          <div class="W-100%"><br></div>

          <img class="card-img-top mb-1" src="../../../../../assets/n.jpg" alt="Card image" style="width: 60%; border-radius: 50%">
          <div style="text-align: center">
            <a href="#" style="color: black"><strong>Marwa Tag</strong>
            </a>
            <br>
            <span class="txtcolor">Electrical power Engineer at SVU</span>
            <br>
            <div class="W-100%"><br></div>
            <button type="button" class="btn btn-outline-primary" style="border-radius: 1.2em; width: 80%">
              Connect
            </button>
            <br>
            <div class="W-100%"><br></div>
          </div>
        </div>
      </div>

      <div class="col-md-3" style="align-items: center;padding: 8px;">
        <div class="card">
          <div class="W-100%"><br></div>

          <img class="card-img-top mb-1" src="../../../../../assets/n.jpg" alt="Card image" style="width: 60%; border-radius: 50%">
          <div style="text-align: center">
            <a href="#" style="color: black"><strong>Marwa Tag</strong>
            </a>
            <br>
            <span class="txtcolor">Electrical power Engineer at SVU</span>
            <br>
            <div class="W-100%"><br></div>
            <button type="button" class="btn btn-outline-primary" style="border-radius: 1.2em; width: 80%">
              Connect
            </button>
            <br>
            <div class="W-100%"><br></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>