<section class="container sec_container mt-3" style="background-color: white">
  <div class="container" style="background-color: white" [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
    <div class="row rowBB">
      <h5 class="pt-3" style="color: #b4272d">
        {{ invitaions.length }} {{'Invitations' | translate }}
      </h5>
      <ul _ngcontent-exd-c114="" class="list-group list-group-flush" >
        <li _ngcontent-exd-c114="" class="list-group-item">
          <div _ngcontent-exd-c114="" class="media">
            <div class="btn-group mr-3">
              <div
                class="btn-group"
                ngbDropdown
                role="group"
                aria-label="Button group with nested dropdown">
                <button
                  class="btn btn-sm mt-4"
                  style="margin-left: 3em"
                  ngbDropdownToggle>
                  {{'Sort By' | translate }} : <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu  [ngClass]="{'en': selectedLang==='en', 'arr': selectedLang=== 'ar'}">
                  <button ngbDropdownItem (click)="sortRecently()">
                    {{'Recently' | translate }}
                  </button>
                  <button ngbDropdownItem (click)="sortFirstName()">
                    {{'First Name' | translate }}
                  </button>
                  <button ngbDropdownItem (click)="sortLastName()">
                    {{'Last Name' | translate }}
                  </button>
                </div>
              </div>
            </div>
            <div>
              <input
                class="form-control mt-4 searchField"
                type="text"
                placeholder="Search"
                aria-label="Search"
                style="width: 20erm"
                [(ngModel)]="keyWordsSearch"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <div
        *ngFor="let item of invitaions | filter: keyWordsSearch"
        class="row rowBB"
      >
        <ul _ngcontent-exd-c114="" class="list-group list-group-flush">
          <li _ngcontent-exd-c114="" class="list-group-item">
            <div _ngcontent-exd-c114="" class="media">
              <img
                _ngcontent-exd-c114=""
                src="{{ item.avatar }}"
                alt=""
                width="70px"
                class="mr-3"
                style="border-radius: 50%; width: 70px; height: 70px"
              />
              <div class="media-body">
                <h6 class="mt-2 mb-1 UserName">
                  <a routerLink="/profile/{{ item.id }}">
                    {{ item.firstName }} {{ item.lastName }}
                  </a>
                </h6>
                <small class="text-muted">
                  <span>{{ item.jobTitle }}</span>
                  <br />{{'Request in' | translate }} {{ item.addedDate.toDate() | date }}</small
                >
              </div>

              <div>
                <button
                  type="button"
                  class="btn btn-sm mr-2 ignoreBtn"
                  (click)="IgnoreRequest(item.id)"
                >
                  {{'ignore' | translate }}
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary btn-sm AcceptBtn"
                  (click)="AcceptRequest(item)"
                >
                  {{'Accept' | translate }}
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
