
 button:hover{
    color:#b4272d;
 }

.messageBtn{
    border-radius: 2em;
    padding: 0.3em;
     padding-left: 1em; 
     padding-right: 1em; 
     border: 1px solid #b4272d;
     color:#b4272d;
     font-size: 11px;
     background-color: white !important;
 
     span{
         color:#b4272d;
         font-weight: bold;
     }
   
 }
 p,h6{
     color:#b4272d; 
 }
 small{
     color: #68161ad5;
 }
 .card{
    max-width: 540px ;
     border:none
 }
 .ar{
    text-align: right;
}

.en{
    text-align: left;
}
.arr{
    text-align: right;
    align-content:right;
    align-items: right;
    float: right !important;
}
.arrr{
  
    float: left !important;
}
 
 
 
 .messageBtn:hover{
 
     border-radius: 2em;
     padding: 0.3em;
      padding-left: 1em; 
      padding-right: 1em; 
      color:white;
      border: 2px solid #b4272d;font-size: 1vmax;
      background-color: #b4272d !important;
  
      span{
          color: white;
          font-weight: bold;
      } 
 }

 .cardH4{
      padding: 0.9em; 
      font-size: 16px;
      color: #b4272d;
 }
 img{
  border-radius: 50% ;
   padding-right: 0px;
   height:70px;
    width:70px;
 }
 .jobSmall{
     font-size: 10px
 }
 .nameH6{
     font-size: 11px
 }
 .LineHeight{
     line-height:13px;
 }
 .parentCard{
    border-radius: .5em;
    width: 100%;
    height: auto;
    padding: 1.5em;
    box-shadow: 1px 1px 10px 1px rgb(211, 203, 203);
 } 
 .dropdown-toggle::after {
    display: none;
}
.dots{
    font-size: large;
    
}

.deleteMenue{
    border-radius: 10px;
     padding: 0px;
     margin: 0px;
}

.rowBB{
    border-bottom: 1px solid #e8e8e8;
}
.searchField{
  
   
        border: 1px solid #b4272d;
        background-color: white !important;
        color: #68161ad5;
        border-radius: 2em;
    font-size: small;
   

}

.searchField:hover{

 
    border: 2px solid #b4272d;
      color:  #68161ad5;
        font-weight: bold;
    
}
.dropdown-toggle::after {
    display: none;
}
.AcceptBtn{
   
    border: 1px solid #b4272d;
    background-color: white !important;
    color: #68161ad5;
    border-radius: 3em;
    font-size: small;

}


.AcceptBtn:hover{


    border: 2px solid #b4272d;
    background-color: #b4272eaf !important;
        color: white;
        font-weight: bold;
    
}
.ignoreBtn:hover{


    
    background-color: #b4272eaf !important;
     color: white;
        font-weight: bold;

    
}
.ignoreBtn{

    border-radius: 3em;
    
}


