<div class="container-fluid" style="background-color:#e8e8e8;">
    <div class="container">
    <div class="row">
        <div class="col-md-4  mt-4">

            <app-manag-my-network-card></app-manag-my-network-card>
            <div class="mb-2"></div>
            <app-sent-requestes-card></app-sent-requestes-card>
        </div>
        <div class="col-md-8">
           <app-network-friend-request></app-network-friend-request>
           <div class=" mb-2"></div>
           <app-network-sugesstion-card></app-network-sugesstion-card>
        </div>
    </div>
</div>
</div>