<div class="media border p-3 mt-4 mb-3  postcontainer">
  <div class="media-body" >
      <div>
        <div >
          <span>invitation</span>
          <a href="#" style="float: right">
            <span>manage</span>
          </a>
        </div>

       <hr>

        <div class="row">
          <div class="col-md-2" style="padding-right: 0px; align-items: center">
            <img src="../../../../../assets/n.jpg" style="width: 70%; height: auto" alt="John Doe" class="mr-3 mt-3 rounded-circle">
          </div>
          <div class="col-md-6" style="padding-left: 0px">
            <br>
            <a href="#">
              <span><strong>Nera Necolass</strong></span> </a><br>
            <span>Student at faculty of engineering qena</span>
          </div>
          <div class="col-md-4" style="margin: auto;padding-left: 4em;">
            <div class="W-100%"><br></div>

            <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
              ignore
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm">
              Accept
            </button>
          </div>
        </div>
        <!----------------------------->
        <hr>
        <div class="row">
          <div class="col-md-2" style="padding-right: 0px; align-items: center">
            <img src="../../../../../assets/fiver.jpg" style="width: 70%; height: auto" alt="John Doe" class="mr-3 mt-3 rounded-circle">
          </div>
          <div class="col-md-6" style="padding-left: 0px">
            <br>
            <a href="#">
              <span><strong>Nera Necolass</strong></span> </a><br>
            <span>Student at faculty of engineering qena</span>
          </div>
          <div class="col-md-4" style="margin: auto;padding-left: 4em;">
            <div class="W-100%"><br></div>

            <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
              ignore
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm">
              Accept
            </button>
          </div>
        </div>
      </div>
    </div>
    
</div>