.dropdown-toggle::after {
  display: none;
}

.btn {
  outline: none;
  box-shadow: none;
}

.users-post-groups {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-post-groups img {
  max-height: 30vh;
}

.has-search .form-control {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
  }
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }


  @media screen and (max-width: 450px){ 
    .custom-titles {
        font-size: 11px;
    }
    .post-body{
        font-size: 14px;
    }

    .custom-btns{
        font-size: 14px;
    }
    .comment-avatar{
        display: none;
    }
    .user-right-comments {
        justify-content: center;
    }

  }

  

.ngb-toasts {
  right: 40% !important;
  top: 8% !important;

}