<div class="form-group has-search pt-3">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" name="search" class="form-control" [(ngModel)]="keyWordsSearch"
        placeholder="{{'Searching For ?...' | translate}}">
</div>
<div *ngIf="postGroupList.length == 0">
    <div [ngClass]="{'text-right': Lang == 'ar'}">
        <ngb-alert>
            <h5>{{'Notes : ' | translate}}</h5>
            <p>{{'There is no posts yet' | translate}}</p>
            <img src="../../../../assets/writepost.jpg" class="img-fluid">
        </ngb-alert>
    </div>
</div>
<app-toasterMsg aria-live="polite" aria-atomic="true"></app-toasterMsg>
<div class="search-results" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
    <div class="card mt-3" *ngFor="let post of postGroupList | filter:keyWordsSearch; trackBy: identify">
        <div class="card-body" [ngClass]="{'text-right': Lang == 'ar'}">
            <div class="media align-items-center">
                <img class="mx-3 rounded-circle" [src]="post.data.Auther.avatar" alt="" width="64px" height="64">
                <div class="media-body">
                    <h6 class="mt-1 mb-1">
                        <a class="text-dark text-decoration-none" href="" routerLink="/profile/{{post.data.Auther.id}}">
                            {{post.data.Auther.firstName}} {{post.data.Auther.lastName}}
                        </a>
                    </h6>
                    <div class="custom-titles">
                        <small class="text-muted">{{post.data.Auther.jobTitle}}</small>
                        <small class="text-muted d-block">{{post.data.PostedDate.toDate() | date}}</small>
                    </div>
                </div>
                <div *ngIf="adminGroup.includes(userID) || post.data.Auther.id === userID">
                    <div ngbDropdown container="body" class="d-inline">
                        <button type="button" class="btn btn-default" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div ngbDropdownMenu>
                            <div>
                                <app-edit-post [postID]='post.id'></app-edit-post>
                            </div>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem (click)="deletePost(post.id)"
                                [ngClass]="{'text-right': Lang == 'ar'}">{{'Delete' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1 my-2 post-body">
                {{post.data.Body}}
            </div>
            <div class="row">
                <div class="users-post-groups col-md-6" *ngFor="let img of post.data.postImg">
                    <img class="img-fluid" src="{{img}}" alt="" (click)="openLg(content)" />
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <button type="button" class="close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')" [ngClass]="{'m-0 p-0': Lang == 'ar'}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <img class="img-fluid" src="{{img}}" alt="" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{'Close' |
                                translate}}</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="text-secondary pt-2">
                <small>{{post.data.Likes.length}} {{'Likes' | translate}}</small>
            </div>
            <div class="post-actions-groups mt-2">
                <button class="btn btn-default custom-btns" (click)="Like(userID , post.id)">
                    <span *ngIf="!post.data.Likes.includes(userID)"><i class="far fa-thumbs-up mr-2"></i> {{'Like' |
                        translate}}</span>
                    <span *ngIf="post.data.Likes.includes(userID)" class="font-weight-bold"><i
                            class="fas fa-thumbs-up mx-2"></i>
                        {{'Unlike' | translate}}</span>
                </button>
                <label class="btn mb-0 custom-btns"><i class="far fa-comment mx-2"></i>{{'Comment' |
                    translate}}</label>
            </div>
            <div class="user-right-comments row mt-3">
                <img [src]="avatar" class="rounded-circle col-2 comment-avatar">
                <div class=" col-9 mt-md-4 mt-lg-2 mr-2 p-0 comment-form">
                    <app-comment-form [defPostId]="post.id"></app-comment-form>
                </div>
            </div>
            <app-post-comments [PostID]="post.id" [admins]="adminGroup"></app-post-comments>
        </div>
    </div>
</div>