<section class="groups-page">
    <div class="container">
        <div class="content-groups py-0">
            <div class="row border-bottom">
                <div class="col-4 pt-2 border-right">
                    <h5 class="text-secondary">Messaging</h5>
                </div>
                <div class="col-8 masseges-head-user">
                    <h6 class="text-secondary mt-1">username</h6>
                    <p class="text-secondary mb-0"><small>Titles</small></p>
                    <div class="messages-control">
                        <div ngbDropdown container="body">
                            <button type="button" class="btn btn-default mt-2 px-3" ngbDropdownToggle>
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem>Edit</button>
                                <button ngbDropdownItem>Duplicate</button>
                                <button ngbDropdownItem>Move</button>
                                <div class="dropdown-divider"></div>
                                <button ngbDropdownItem>Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 p-0 border-right left-side-messages">
                    <div class="pt-2 px-3 form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search messages">
                    </div>
                    <div class="overflow-auto vh-100">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action active">
                                <div class="row">
                                    <div class="col-md-3 px-0">
                                        <img src="../../../../assets/nav-img.png" class="w-100" alt="" srcset="">
                                    </div>
                                    <div class="col-md-7 px-0">
                                        <h5>DisplayUserName</h5>
                                    </div>
                                    <div class="col-md-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-3 px-0">
                                        <img src="../../../../assets/nav-img.png" width="70" alt="" srcset="">
                                    </div>
                                    <div class="col-7 px-0">
                                        <h4>DisplayUserName</h4>
                                    </div>
                                    <div class="col-2 px-0 py-1">
                                        <small class="text-secondary font-weight-bold">Apr 11</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 px-0">
                    <div class="overflow-auto vh-100">
                        <div class="jumbotron m-0 p-0">
                            <div class="row m-0 p-0 position-relative">
                                <div class="col-12 p-0 m-0 position-absolute" style="right: 0px;">
                                    <div class="card border-0 rounded"
                                        style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 6px 10px 0 rgba(0, 0, 0, 0.01); ">
                                        <div class="card border-0 m-0 p-0">
                                            <div id="sohbet" class="card border-0 m-0 p-0 position-relative"
                                                style="overflow-y: auto; height: 100vh;" #scrollMe
                                                [scrollTop]="scrollMe.scrollHeight">
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Hey there! What's up? </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:20 pm">
                                                    <a class="float-right"> Lorem ipsum dolor sit amet consectetur
                                                        adipisicing elit. Recusandae optio corporis voluptate dolorum
                                                        temporibus fugit excepturi incidunt hic, unde blanditiis sed
                                                        ratione et culpa dolore porro vero saepe voluptas nemo. </a>
                                                </div>
                                                <div class="reciever p-2 m-0 position-relative"
                                                    data-is="Yusuf - 3:22 pm">
                                                    <a class="float-left sohbet2"> Checking out iOS7 you know.. </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:23 pm">
                                                    <a class="float-right"> Check out this bubble! </a>
                                                </div>
                                                <div class="reciever p-2 m-0 position-relative"
                                                    data-is="Yusuf - 3:26 pm">
                                                    <a class="float-left sohbet2"> It's pretty cool! </a>
                                                </div>
                                                <div class="sender p-2 m-0 position-relative" data-is="You - 3:28 pm">
                                                    <a class="float-right"> Yeah it's pure CSS & HTML </a>
                                                </div>
                                                <div class="reciever p-2 m-0 position-relative"
                                                    data-is="Yusuf - 3:33 pm">
                                                    <a class="float-left sohbet2"> Wow that's impressive. But what's
                                                        even more impressive is that this bubble is really high. </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 card-footer p-0 bg-light border border-bottom-0 border-left-0 border-right-0">
                        <form class="m-0 p-0" action="" method="POST" autocomplete="off">
                            <div class="row m-0 p-0">
                                <div class="col-9 m-0 p-1">
                                    <input id="text" class="mw-100 border rounded form-control" type="text" name="text"
                                        title="Type a message..." placeholder="Type a message..." required>
                                </div>
                                <div class="col-3 m-0 p-1">
                                    <button class="btn btn-outline-primary rounded border w-100 pr-2">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>