<section class="container group-profile mt-5">
    <div class="row">
        <aside class="col-lg-3 d-none d-lg-block">
            <div class="card custom-left-side-group">
                <img src="../../../../assets/cover.jpg" class="card-img-top">
                <div class="card-body text-center">
                    <img src="../../../../assets/nav-img.png" width="50%">
                </div>
                <div class="text-center mt-5 mb-3">
                    <h4>User Name</h4>
                    <small class="text-muted">Joined Group: Jul 2020</small>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <span class="card-title">Recent</span>
                    <ul class="list-unstyled mt-2">
                        <li><i class="fas fa-users mx-2"></i>Job 4 All</li>
                        <li><i class="fas fa-users mx-2"></i>Careers</li>
                        <li><i class="fas fa-users mx-2"></i>Human Resource</li>
                    </ul>
                    <span class="card-title font-weight-bold">Groups</span>
                    <ul class="list-unstyled mt-2">
                        <li><i class="fas fa-users mx-2"></i>Job 4 All</li>
                        <li><i class="fas fa-users mx-2"></i>Careers</li>
                        <li><i class="fas fa-users mx-2"></i>Human Resource</li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="col-lg-6">
            <section class="profile-group-content rounded">
                <div class="profile-group-header rounded">
                    <img src="../../../../assets/1200x400.jpg" class="img-fluid rounded" alt="" srcset="">
                    <div class="profile-group-img">
                        <img src="../../../../assets/nav-img.png" class="img-thumbnail rounded-circle mx-3"
                            width="150px" alt="">
                    </div>
                    <div class="float-right">
                        <a href="#"><i class="far fa-bell"></i></a>
                        <div class="dropdown d-inline dropleft">
                            <button id="dLabel" class="btn mr-2" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dLabel">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="pt-5 mt-3 mt-md-5 ml-4">Jobs 4 All - Jobs in Egypt</h4>
                <span class="text-muted"><i class="fas fa-users ml-4 mr-2 mb-4"></i>Listed Group</span>
            </section>
            <section class="write-post-on-group mt-3">
                <div class="card">
                    <div class="card-body row">
                        <img src="../../../../assets/nav-img.png" class="rounded-circle col-2">
                        <div class=" col-9 mt-md-4 mt-lg-2 mr-2">
                            <input class="form-control" type="text" placeholder="Start a Conversation in this Group">
                        </div>
                        <div class="container mx-5">
                            <div class="d-flex justify-content-between mt-2 ml-3">
                                <div class="ml-3">
                                    <button class="btn"><i class="fas fa-image"></i> Photo</button>
                                </div>
                                <div>
                                    <button class="btn"><i class="fab fa-youtube"></i> Video</button>
                                </div>
                                <div>
                                    <button class="btn"><i class="fas fa-poll"></i> Poll</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <button class="btn btn-success my-3">All</button>
                    <button class="btn btn-outline-secondary ml-3 my-3">Recommended</button>
                </div>
                <div class="group-users-posts">
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="media">
                                <img class="mr-4 rounded-circle" src="../../../../assets/nav-img.png" alt=""
                                    width="64px">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-1"><a class="text-dark text-decoration-none"
                                            href="userprofile.html">User
                                            Name</a></h6>
                                    <small class="text-muted">user job titles</small>
                                    <small class="text-muted d-block">7h</small>
                                </div>
                                <div class="dropdown dropleft">
                                    <button id="dLabel" class="btn mr-4" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dLabel">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-1 mb-2">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quos, eaque
                                repudiandae beatae ipsum quaerat inventore neque ex nobis placeat omnis dolore in.
                                Magni, eos eius explicabo vero esse debitis!
                            </div>
                            <div class="users-post-groups row">
                                <img class="img-fluid col-md-6" src="img/400x400.png" alt="">
                                <img class="img-fluid col-md-6" src="img/400x400.png" alt="">
                            </div>
                            <div class="post-actions-groups mt-2">
                                <button class="btn btn-default"><i class="far fa-thumbs-up mr-2"></i>Like</button>
                                <button class="btn"><i class="fal fa-comment-lines mr-2"></i>Comment</button>
                            </div>
                            <div class="user-right-comments row mt-3">
                                <img src="../../../../assets/nav-img.png" class="rounded-circle col-2">
                                <div class=" col-9 mt-md-4 mt-lg-2 mr-2">
                                    <input class="form-control" type="text"
                                        placeholder="Start a Conversation in this Group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="media">
                                <img class="mr-4 rounded-circle" src="../../../../assets/nav-img.png" alt=""
                                    width="64px">
                                <div class="media-body">
                                    <h6 class="mt-1 mb-1"><a class="text-dark text-decoration-none"
                                            href="userprofile.html">User
                                            Name</a></h6>
                                    <small class="text-muted">user job titles</small>
                                    <small class="text-muted d-block">7h</small>
                                </div>
                                <div class="dropdown dropleft">
                                    <button id="dLabel" class="btn mr-4" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dLabel">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-1 mb-2">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quos, eaque
                                repudiandae beatae ipsum quaerat inventore neque ex nobis placeat omnis dolore in.
                                Magni, eos eius explicabo vero esse debitis!
                            </div>
                            <div class="users-post-groups row">
                                <img class="img-fluid col-md-6" src="img/400x400.png" alt="">
                                <img class="img-fluid col-md-6" src="img/400x400.png" alt="">
                            </div>
                            <div class="post-actions-groups mt-2">
                                <button class="btn btn-default"><i class="far fa-thumbs-up mr-2"></i>Like</button>
                                <button class="btn"><i class="fal fa-comment-lines mr-2"></i>Comment</button>
                            </div>
                            <div class="user-right-comments row mt-3">
                                <img src="../../../../assets/nav-img.png" class="rounded-circle col-2">
                                <div class=" col-9 mt-md-4 mt-lg-2 mr-2">
                                    <input class="form-control" type="text"
                                        placeholder="Start a Conversation in this Group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3">
            <div class="card text-left">
                <div class="card-body">
                    <h6 class="card-title"><span>45,500</span> members</h6>
                    <p class="card-text">including ...</p>
                    <div>
                        <img src="../../../../assets/nav-img.png" class="img-fluid" alt="" width="25%" srcset="">
                        <img src="../../../../assets/nav-img.png" class="img-fluid" alt="" width="25%" srcset="">
                        <img src="../../../../assets/nav-img.png" class="img-fluid" alt="" width="25%" srcset="">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm my-3">Invite Connections</button>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="card-link">See All</a>
                </div>
            </div>
            <div class="card text-left mt-3">
                <div class="card-body">
                    <h6 class="card-title">About this group</h6>
                    <p class="card-text ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos rem quasi a
                        ad deleniti dignissimos distinctio voluptas odio aperiam perferendis? Sapiente rerum nam
                        cupiditate tempora, architecto eaque soluta amet fugiat!</p>
                </div>
                <div class="card-footer text-muted text-center">
                    <a href="#" class="card-link">See All</a>
                </div>
            </div>
            <div class="card text-left mt-3">
                <div class="card-body">
                    <h6 class="card-title">Admin</h6>
                    <div class="media">
                        <img class="mr-2 rounded-circle" src="../../../../assets/nav-img.png" alt="" width="64px">
                        <div class="media-body">
                            <h6 class="mt-1 mb-1"><a class="text-dark text-decoration-none" href="userprofile.html">User
                                    Name</a>
                                <span class="badge badge-secondary">Owner</span>
                            </h6>
                            <small class="text-muted">user job titles</small>
                            <small class="text-muted d-block">Job Titles</small>
                        </div>
                    </div>
                    <div class="media mt-3">
                        <img class="mr-2 rounded-circle" src="../../../../assets/nav-img.png" alt="" width="64px">
                        <div class="media-body">
                            <h6 class="mt-1 mb-1"><a class="text-dark text-decoration-none" href="userprofile.html">User
                                    Name</a>
                                <span class="badge badge-secondary">Manager</span>
                            </h6>
                            <small class="text-muted">user job titles</small>
                            <small class="text-muted d-block">Job Titles</small>
                        </div>
                    </div>
                    <div class="media mt-3">
                        <img class="mr-2 rounded-circle" src="../../../../assets/nav-img.png" alt="" width="64px">
                        <div class="media-body">
                            <h6 class="mt-1 mb-1"><a class="text-dark text-decoration-none" href="userprofile.html">User
                                    Name</a>
                                <span class="badge badge-secondary">Manager</span>
                            </h6>
                            <small class="text-muted">user job titles</small>
                            <small class="text-muted d-block">Job Titles</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>