<section class="container group-profile mt-5">
    <div class="row">
        <aside class="col-lg-3 d-none d-lg-block">
            <app-left-side-group></app-left-side-group>
        </aside>
        <div class="col-lg-6 mb-2">
            <app-center-group-page [GroupId]='GroupId' [users]='users'>
            </app-center-group-page>
        </div>
        <div class="col-lg-3">
            <app-right-side-group [GroupId]='GroupId' [users]='users'>
            </app-right-side-group>
        </div>
    </div>
</section>