<div class="container-fluid">
    <div id="loginLogo">
        <img class="header__logo" src="../../../../assets/iti-logo.png">
        <div class="header__separator"></div>
        <span class="header__title">Information Technology Institute</span>
    </div>
    <div class="col-lg-4 mainContainerError">
        <div class="separator"></div>

        <h3 class="headerErr">
            Something went Wrong
        </h3>
        <h6 class="headerErr">
            Refresh the page
        </h6>
        <button class="tryAgain" (click)="navigate()">{{text}}</button>
    </div>
</div>