.profile-card-border {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(3, 3, 3, 0.2);
  border-radius: 10px;
}
.profile-about-p {
  font-size: 14px;
  margin-top: 2%;
}

.circleBtn {
  border-radius: 50%;
  border-width: 0;
  font-size: 1.3rem;
}

.modalHeaderIcon {
  padding: 0% 2%;
  font-size: 1.5rem;
  color: #901b20;
}
.profile-Card-Edit {
  opacity: 0;
  color: #801818;
  transition: 0.8s;
}
.profile-Card-About:hover .profile-Card-Edit {
  transition: 0.8s;
  opacity: 1;
}

textarea.ng-dirty.ng-valid.ng-touched:not(form) {
  border-left: 5px solid #42a948 !important;
}

textarea.ng-touched.ng-dirty.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important;
}

textarea.ng-touched.ng-pristine.ng-invalid:not(form) {
  border-left: 5px solid #a94442 !important;
}

.noAboutImg p {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color: #636363e3;
}

.noAboutImg img {
  width: 25%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
}
