<div class="card profile-card-border mt-3 " style="width: 100%;">
  <div class="card-body profile-Card-About">
    <div class="row">
      <div class="col-sm-11">
        <h4 class="card-subtitle mb-2 text-muted">About</h4>
      </div>
      <div class="col-sm-1">
        <a class="profile-Card-Edit" (click)="openAbout(content)" *ngIf="userLocal == userAbout.id"><i
            class="fas fa-user-edit"></i></a>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <span class="modalHeaderIcon"><i class="fas fa-user-edit"></i></span>
        <h4 class="modal-title" id="modal-basic-title">Edit About</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editAbout" (ngSubmit)='saveChanges()'>
        <div class="modal-body">
          <div class="form-group">
            <div>
              <textarea formControlName="about" style="width: 100%; height: 100px; resize: none;"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>
      </form>
    </ng-template>
    <div *ngIf="userAbout.about.length > 0; else noAbout">
      <p class="card-text profile-about-p">{{userAbout.about}} </p>
    </div>
    <ng-template #noAbout>
      <div class="noAboutImg">
        <p>Sorry you don't add about yet ...</p>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/iti-community.appspot.com/o/UsersProfileImages%2F112-1120219_goal-clipart-know-yourself-myself-clipart.png?alt=media&token=a494f378-3770-4ac8-8b31-c33fac8ca15d">
      </div>
    </ng-template>

  </div>
</div>