.profile-card-border {
  overflow: hidden; 
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(3, 3, 3, 0.2);
  border-radius: 10px;
}
.profile-about-p {
  font-size: 14px;
  margin-top: 2%;
}

.circleBtn {
  border-radius: 50%;
  border-width: 0;
  font-size: 1.3rem;
}

.modalHeaderIcon {
  padding: 0% 2%;
  font-size: 1.5rem;
  color: #901b20;
}
.profile-Card-Edit {
  opacity: 0;
  color: #801818;
  transition:  0.8s;
}
.profile-Card-About:hover  .profile-Card-Edit 
{
  transition:  0.8s;
  opacity: 1;
 }
