<div class="container-fluid">
    <div class="row signInContent">
        <div class="col-sm-10 col-md-6 col-lg-4 loginForm">
            <!--<img class="header__logo" src="iti_logocopy.png">-->
            <a href="" id="loginLogo">
                <img class="header__logo" src="../../../../assets/iti-logo.png">
                <div class="header__separator"></div>
                <span class="header__title">Information Technology Institute</span>
            </a>
            <div class="card signinForm">
                <div class="card-header signinHeader">
                    <h1>New Password !</h1>
                    <p>
                        Please enter your new password and confirm
                    </p>
                </div>
                <div class="card-body">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)='resetPassword()'>
                        <div class="form-group">
                            <label class="form-label text-black-50">
                                Password *
                            </label>
                            <div style="display: flex; flex-direction: row;">
                                <input formControlName="password" [type]="fieldTextType ? 'text' : 'password'"
                                    class="form-control" minlength="8" maxlength="38"
                                    ngbTooltip="Password must started with charater and contain characters and numberswith 8 digits length">
                                <span class="icon" (click)="fieldTextType = !fieldTextType">
                                    <i [ngClass]="{'far fa-eye': fieldTextType,'fas fa-eye-slash':!fieldTextType}"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label text-black-50">
                                Confirm Password *
                            </label>
                            <div style="display: flex; flex-direction: row;">
                                <input formControlName="confirmPassword"
                                    [type]="confirmFieldTextType ? 'text' : 'password'" class="form-control"
                                    minlength="8" maxlength="38"
                                    ngbTooltip="Confirm Password must matched with the password">
                                <span class="icon" (click)="confirmFieldTextType = !confirmFieldTextType">
                                    <i
                                        [ngClass]="{'far fa-eye': confirmFieldTextType,'fas fa-eye-slash':!confirmFieldTextType}"></i>
                                </span>
                            </div>
                        </div>
                        <button type="submit" id="signinButton" class="btn btn-primary mb-4">Reset Password</button>
                    </form>
                </div>
            </div>
            <div id="newIn">
                <div class="mb-3">
                    New to LinkedIn? <div id="joinNow"><a [routerLink]="['/Register/User']"
                            routerLinkActive="router-link-active">Join Now</a></div>
                </div>
                <div class="mb-3">
                    Already have Account? <div id="joinNow"><a [routerLink]="['/Login']"
                            routerLinkActive="router-link-active">Login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footerSignIn">
    <div id="footerSignInLinks">
        <a href="">User Agreement</a>
        <a href="">Privacy Policy</a>
        <a href="">Community Guidelines</a>
        <a href="">Cookie Policy</a>
        <a href="">Copyright Policy</a>
        <a href="">Send Feedback</a>
        <span ngbDropdown class="dropup languageDropup" placement="top-right">
            <a class="btn" id="dropdownConfig" ngbDropdownToggle>
                Language
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <a ngbDropdownItem>Arabic</a>
                <a ngbDropdownItem>English</a>
            </div>
        </span>
    </div>
</div>


<ng-template #err let-modal>
    <div>
        <div class="modal-body">
            <div class="errLogin">
                <i class="fas fa-times"></i>
            </div>
            <p>
                The password you entered not correct
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">OK</button>
        </div>
    </div>
</ng-template>